2025/11/26/36IcLtKDQ1nSXrdn.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"script-processor","responseMode":"responseNode","options":{}},"id":"010ec1ce-842f-4342-af29-0ae8c4d2174c","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-352,32],"webhookId":"12345678-90ab-cdef-1234-567890abcdef"},{"parameters":{"content":"## 📝 DÉMARRAGE DU WORKFLOW\n\nCe workflow traite automatiquement :\n1. Découpage du script en segments\n2. Génération d'images avec Seedream V4\n3. Conversion images vers vidéos avec Wan2.2\n4. Synthèse vocale avec ElevenLabs\n5. Montage final avec Creatomate\n\n**Format d'entrée attendu :**\n``````","height":464,"width":389},"id":"d46b4817-d237-4108-a88c-dd1c6355f3a8","name":"Sticky Note Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,-448]},{"parameters":{"jsCode":"// Script de découpage intelligent du texte\nconst inputScript = $input.first().json.script || \"\";\nconst segmentDuration = 5; // Durée par segment en secondes\nconst wordsPerSecond = 2.5; // Vitesse de lecture moyenne\nconst wordsPerSegment = Math.floor(segmentDuration * wordsPerSecond);\n\n// Fonction de découpage par phrases et segments logiques\nfunction splitScript(text) {\n  const sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 0);\n  const segments = [];\n  let currentSegment = \"\";\n  let wordCount = 0;\n  \n  for (const sentence of sentences) {\n    const sentenceWords = sentence.trim().split(/\\s+/).length;\n    \n    if (wordCount + sentenceWords <= wordsPerSegment || currentSegment === \"\") {\n      currentSegment += (currentSegment ? \". \" : \"\") + sentence.trim();\n      wordCount += sentenceWords;\n    } else {\n      segments.push({\n        text: currentSegment + \".\",\n        segment_id: segments.length + 1,\n        duration: Math.ceil(wordCount / wordsPerSecond)\n      });\n      currentSegment = sentence.trim();\n      wordCount = sentenceWords;\n    }\n  }\n  \n  if (currentSegment) {\n    segments.push({\n      text: currentSegment + \".\",\n      segment_id: segments.length + 1,\n      duration: Math.ceil(wordCount / wordsPerSecond)\n    });\n  }\n  \n  return segments;\n}\n\n// Génération des prompts d'images basés sur le contenu\nfunction generateImagePrompts(segments) {\n  return segments.map(segment => {\n    // Extraction des éléments visuels clés du texte\n    const visualKeywords = segment.text.match(/\\b(paysage|personnage|objet|action|couleur|style)\\w*\\b/gi) || [];\n    \n    // Prompt de base optimisé pour Seedream V4\n    let imagePrompt = `Cinematic scene, high quality, 4K resolution, professional lighting. ${segment.text.substring(0, 100)}...`;\n    \n    // Ajout de style cohérent\n    imagePrompt += \" Style: modern, clean, engaging, storytelling composition\";\n    \n    return {\n      ...segment,\n      image_prompt: imagePrompt,\n      style_preset: \"cinematic_storytelling\"\n    };\n  });\n}\n\nconst segments = splitScript(inputScript);\nconst segmentsWithPrompts = generateImagePrompts(segments);\n\nreturn segmentsWithPrompts.map(segment => ({ json: segment }));"},"id":"559acf7f-9028-4397-b412-c6f4162acfc9","name":"Script Splitter & Prompt Generator","type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,32]},{"parameters":{"url":"https://api.kie.ai/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"kieAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$credentials.kieAiApi.apiKey}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"seedream-v4"},{"name":"prompt","value":"={{$json.image_prompt}}"},{"name":"size","value":"1280x720"},{"name":"quality","value":"hd"},{"name":"style","value":"={{$json.style_preset}}"},{"name":"response_format","value":"url"}]},"options":{"timeout":30000}},"id":"662d7c7d-876f-4739-b64c-be8f6c0e072e","name":"Seedream V4 - Génération Images","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,32]},{"parameters":{"url":"https://api.kie.ai/v1/video/generations","authentication":"predefinedCredentialType","nodeCredentialType":"kieAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$credentials.kieAiApi.apiKey}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"wan/2-2-a14b-image-to-video-turbo"},{"name":"image_url","value":"={{$json.data[0].url}}"},{"name":"prompt","value":"={{$json.text}} - Smooth camera movement, cinematic transition, high quality motion"},{"name":"duration","value":"={{$json.duration}}"},{"name":"fps","value":24},{"name":"resolution","value":"720p"}]},"options":{"timeout":60000}},"id":"d1bcb4d3-f5e5-4638-aeee-b752f015eaeb","name":"Wan2.2 - Image vers Vidéo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,32]},{"parameters":{"url":"https://api.elevenlabs.io/v1/text-to-speech/{{$('Webhook Trigger').first().json.voice_id}}","authentication":"predefinedCredentialType","nodeCredentialType":"elevenLabsApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{$credentials.elevenLabsApi.apiKey}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{$json.text}}"},{"name":"voice_settings","value":{"stability":0.75,"similarity_boost":0.75,"style":0.5,"use_speaker_boost":true}},{"name":"output_format","value":"mp3_44100_128"}]},"options":{}},"id":"61f26b2c-ffbb-41c2-8bfa-4d90264c26fb","name":"ElevenLabs - Synthèse Vocale","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,240]},{"parameters":{"jsCode":"// Attendre que toutes les générations soient terminées\nconst allItems = $input.all();\nconst videoItems = allItems.filter(item => item.json.video_url);\nconst audioItems = allItems.filter(item => item.json.audio_url || item.json.audio_data);\n\n// Regroupement et préparation des assets pour le montage\nconst timelineAssets = [];\nlet currentTime = 0;\n\nfor (let i = 0; i < Math.min(videoItems.length, audioItems.length); i++) {\n  const videoItem = videoItems[i];\n  const audioItem = audioItems[i];\n  \n  timelineAssets.push({\n    type: \"video\",\n    source: videoItem.json.video_url || videoItem.json.data[0].url,\n    audio_source: audioItem.json.audio_url || audioItem.json.audio_data,\n    start_time: currentTime,\n    duration: videoItem.json.duration || 5,\n    segment_id: videoItem.json.segment_id,\n    text: videoItem.json.text\n  });\n  \n  currentTime += videoItem.json.duration || 5;\n}\n\n// Configuration du projet final\nconst finalProject = {\n  timeline: timelineAssets,\n  total_duration: currentTime,\n  output_format: {\n    format: \"mp4\",\n    resolution: \"1280x720\",\n    fps: 24,\n    quality: \"high\"\n  },\n  transitions: {\n    type: \"fade\",\n    duration: 0.5\n  }\n};\n\nreturn [{ json: finalProject }];"},"id":"65760bfe-a0bf-46f9-bcf2-2acb8441d982","name":"Compositeur Timeline","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"use_creatomate","leftValue":"={{$('Webhook Trigger').first().json.editing_tool}}","rightValue":"creatomate","operator":{"type":"string","operation":"equals"}}],"combineOperation":"any"},"options":{}},"id":"b93a98a5-7289-490a-899c-6a196ff3e5c9","name":"Choix Outil Montage","type":"n8n-nodes-base.if","typeVersion":2,"position":[832,128]},{"parameters":{"url":"https://api.creatomate.com/v1/renders","authentication":"predefinedCredentialType","nodeCredentialType":"creatomateApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$credentials.creatomateApi.apiKey}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"template_id","value":"={{$('Webhook Trigger').first().json.template_id}}"},{"name":"modifications","value":"={{$json.timeline.map((asset, index) => ({\n  id: `video_${index}`,\n  source: asset.source,\n  audio_source: asset.audio_source,\n  start_time: asset.start_time,\n  duration: asset.duration\n}))}}}"},{"name":"output","value":{"format":"mp4","width":1280,"height":720,"fps":24}}]},"options":{}},"id":"c2e5959d-fac0-4d85-8f74-24c139a16299","name":"Creatomate - Montage Final","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,48]},{"parameters":{"command":"ffmpeg"},"id":"5b1be620-e6dd-430c-87a2-7a56a1b2ac5a","name":"FFmpeg - Montage Final","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1104,272]},{"parameters":{"jsCode":"// Création du fichier playlist pour FFmpeg\nconst timelineData = $input.first().json;\nconst playlistContent = timelineData.timeline.map(asset => \n  `file '${asset.source}'\\nduration ${asset.duration}`\n).join('\\n');\n\n// Écriture du fichier playlist\nconst fs = require('fs');\nfs.writeFileSync('/tmp/playlist.txt', playlistContent);\n\nreturn [{ json: { \n  playlist_created: true, \n  playlist_path: '/tmp/playlist.txt',\n  timeline: timelineData.timeline \n}}];"},"id":"b3c45c49-1426-47c0-9d7e-e2855bc72713","name":"Préparation FFmpeg","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,304]},{"parameters":{"content":"## 🎬 MONTAGE FINAL\n\n**Deux options disponibles :**\n\n1. **Creatomate** (Recommandé)\n   - Interface API robuste\n   - Templates prédéfinis\n   - Transitions automatiques\n   - Rendu cloud optimisé\n\n2. **FFmpeg** (Alternative locale)\n   - Contrôle total du processus\n   - Pas de coûts API\n   - Requires local processing\n   - Configuration manuelle\n\n**Paramètres de sortie :**\n- Format: MP4 (H.264)\n- Résolution: 1280x720\n- FPS: 24\n- Qualité: Haute","height":320,"width":300},"id":"507ba8a5-d0a3-4845-8983-5a3e73283f2a","name":"Sticky Note Montage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,-304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.status}}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combineOperation":"any"},"options":{}},"id":"ea3683aa-fdd5-4054-b4dd-b96f9469c536","name":"Vérification Status","type":"n8n-nodes-base.if","typeVersion":2,"position":[1312,128]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"message\": \"Vidéo générée avec succès\",\n  \"video_url\": \"{{$json.url || $json.output_file}}\",\n  \"duration\": \"{{$('Timeline Compositor').first().json.total_duration}}\",\n  \"segments_processed\": \"{{$('Script Splitter & Prompt Generator').all().length}}\",\n  \"processing_time\": \"{{Date.now() - $('Webhook Trigger').first().json.timestamp}}\",\n  \"metadata\": {\n    \"resolution\": \"1280x720\",\n    \"fps\": 24,\n    \"format\": \"mp4\",\n    \"audio_synthesis\": \"elevenlabs\",\n    \"image_generation\": \"seedream-v4\",\n    \"video_generation\": \"wan2.2-a14b\",\n    \"final_editing\": \"{{$('Webhook Trigger').first().json.editing_tool || 'creatomate'}}\"\n  }\n}","options":{}},"id":"2e779a38-c70a-4c88-9615-dac1269553f8","name":"Réponse Succès","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1552,80]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": false,\n  \"error\": \"Échec du processus de génération\",\n  \"details\": \"{{$json.error || 'Erreur inconnue'}}\",\n  \"timestamp\": \"{{new Date().toISOString()}}\",\n  \"segment_id\": \"{{$json.segment_id}}\"\n}","options":{"responseCode":500}},"id":"7d550dbf-f3dc-4ceb-b7b4-36b30aaf890e","name":"Réponse Erreur","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1552,320]},{"parameters":{"content":"## ⚠️ GESTION DES ERREURS\n\n**Points de contrôle :**\n- Validation script d'entrée\n- Timeout génération images (30s)\n- Retry automatique (3x)\n- Vérification status vidéos\n- Validation assets audio\n\n**En cas d'échec :**\n- Log détaillé des erreurs\n- Notification utilisateur\n- Sauvegarde partielle possible\n- Relance manuelle disponible","height":280,"width":320},"id":"d4c292bb-84cf-4c3f-af81-7bd6b27df61f","name":"Sticky Note Erreurs","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1312,-192]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Script Splitter & Prompt Generator","type":"main","index":0}]]},"Script Splitter & Prompt Generator":{"main":[[{"node":"Seedream V4 - Génération Images","type":"main","index":0},{"node":"ElevenLabs - Synthèse Vocale","type":"main","index":0}]]},"Seedream V4 - Génération Images":{"main":[[{"node":"Wan2.2 - Image vers Vidéo","type":"main","index":0}]]},"Wan2.2 - Image vers Vidéo":{"main":[[{"node":"Compositeur Timeline","type":"main","index":0}]]},"ElevenLabs - Synthèse Vocale":{"main":[[{"node":"Compositeur Timeline","type":"main","index":0}]]},"Compositeur Timeline":{"main":[[{"node":"Choix Outil Montage","type":"main","index":0}]]},"Choix Outil Montage":{"main":[[{"node":"Creatomate - Montage Final","type":"main","index":0}],[{"node":"Préparation FFmpeg","type":"main","index":0}]]},"Creatomate - Montage Final":{"main":[[{"node":"Vérification Status","type":"main","index":0}]]},"Préparation FFmpeg":{"main":[[{"node":"FFmpeg - Montage Final","type":"main","index":0}]]},"FFmpeg - Montage Final":{"main":[[{"node":"Vérification Status","type":"main","index":0}]]},"Vérification Status":{"main":[[{"node":"Réponse Succès","type":"main","index":0}],[{"node":"Réponse Erreur","type":"main","index":0}]]}},"pinData":{},"meta":null}