2025/11/26/F8Z3UEhFVtnhWt2p.json
{"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id_request"},{"name":"request"},{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[656,816],"id":"0025f2c5-6b07-4827-87b3-629505a96d15","name":"When Executed by Another Workflow"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"columns":{"mappingMode":"defineBelow","value":{"Type":"={{ $json.type }}","Status":"En cours","Requette":"={{ $json.request }}","ID Requette":"={{ $json.id_request }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Titre","displayName":"Titre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"raw_image","value":"raw_image"},{"name":"raw_audio","value":"raw_audio"},{"name":"raw_video","value":"raw_video"},{"name":"Vidéo","value":"Vidéo"},{"name":"","value":""}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Erreur","value":"Erreur"},{"name":"En cours","value":"En cours"},{"name":"Terminé","value":"Terminé"}],"readOnly":false,"removed":false},{"id":"Requette","displayName":"Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ID Requette","displayName":"ID Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lien","displayName":"Lien","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[880,816],"id":"faf8704d-b4f8-4fe7-ab73-1284c9265a76","name":"Créer un Enregistrement Airtable"},{"parameters":{"url":"=https://api.wavespeed.ai/api/v3/predictions/{{ $('When Executed by Another Workflow').item.json.id_request }}/result","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,736],"id":"9823e200-687f-4ebd-b9c4-5916ad934f01","name":"Envoyer Requête HTTP","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d60bbc3-5845-415b-a789-bf76bad38a2a","leftValue":"={{ $json.data.status }}","rightValue":"completed","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,912],"id":"6085a8ad-afaa-465d-af60-3c9ca6eb5657","name":"Vérifier Statut de la Requête","alwaysOutputData":false},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"DashBoard","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Erreur","id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Titre","displayName":"Titre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"raw_image","value":"raw_image"},{"name":"raw_audio","value":"raw_audio"},{"name":"raw_video","value":"raw_video"},{"name":"Vidéo","value":"Vidéo"},{"name":"","value":""}],"readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Erreur","value":"Erreur"},{"name":"En cours","value":"En cours"},{"name":"Terminé","value":"Terminé"}],"readOnly":false,"removed":false},{"id":"Requette","displayName":"Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ID Requette","displayName":"ID Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lien","displayName":"Lien","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1552,688],"id":"cc031041-12e6-4cb5-a731-c28dab82f517","name":"Mettre à Jour Statut Erreur Airtable"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"DashBoard","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Terminé","id":"={{ $('Créer un Enregistrement Airtable').item.json.id }}","Lien":"={{ $('Envoyer Requête HTTP').item.json.data.outputs[0] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Titre","displayName":"Titre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"raw_image","value":"raw_image"},{"name":"raw_audio","value":"raw_audio"},{"name":"raw_video","value":"raw_video"},{"name":"Vidéo","value":"Vidéo"},{"name":"","value":""}],"readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Erreur","value":"Erreur"},{"name":"En cours","value":"En cours"},{"name":"Terminé","value":"Terminé"}],"readOnly":false,"removed":false},{"id":"Requette","displayName":"Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ID Requette","displayName":"ID Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lien","displayName":"Lien","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1952,912],"id":"e4998596-c44d-4506-a755-b63cc627642d","name":"Mettre à Jour Statut Terminé Airtable"},{"parameters":{"content":"# 🧭 Vue d'ensemble du Workflow\n\n## 📋 Objectif\nCe workflow automatisé dans n8n est conçu pour gérer et suivre les requêtes de traitement de données via Airtable et un service externe. Il commence par la création d'un enregistrement dans Airtable, effectue des requêtes HTTP pour obtenir des prédictions, et met à jour le statut des requêtes en fonction des résultats obtenus.\n\n## 🔄 Sections du Processus\n\n### 🎯 Section Déclenchement et Entrée\nLe workflow est déclenché par un ensemble de paramètres d'entrée qui incluent l'identifiant de la requête, la requête elle-même, et le type de données à traiter. Ces informations sont utilisées pour créer un nouvel enregistrement dans Airtable, marquant le début du processus de suivi.\n\n### ⏳ Section Attente et Requête HTTP\nAprès la création de l'enregistrement, le workflow inclut une étape d'attente de 2 secondes pour assurer la synchronisation. Ensuite, une requête HTTP est envoyée à un service externe pour obtenir des prédictions basées sur les données fournies. Cette étape est cruciale pour le traitement des données et l'obtention des résultats nécessaires.\n\n### 🔍 Section Décision et Routage\nUne fois la réponse de la requête HTTP reçue, le workflow évalue le statut de la requête. Si le statut n'est pas \"complété\", le workflow prend une décision pour gérer les cas d'erreur ou de traitement en cours. Cette section assure que seules les requêtes réussies passent à l'étape suivante.\n\n### ⚡ Section Mise à Jour et Sortie\nEn fonction du résultat de la décision précédente, le workflow met à jour le statut de l'enregistrement dans Airtable. Si la requête est complétée avec succès, le statut est mis à jour en \"Terminé\" et un lien vers le résultat est ajouté. En cas d'erreur, le statut est mis à jour en \"Erreur\", permettant un suivi efficace des problèmes.\n\n## 🔗 Liens Utiles\n- [Airtable](https://airtable.com)\n- [Wavespeed](https://wavespeed.ai/?utm_source=Thomas_Berton)","height":868,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-320,432],"typeVersion":1,"id":"582a3b88-a297-41de-8aae-c788a86723e7","name":"Workflow Overview"},{"parameters":{"content":"---\n\n## 👨‍💻 Workflow créé par Thomas Berton\n\n**Envie de faire développer vos solutions IA par des pros ?**  \nContactez mon agence Azuro 👉 [azuro-ai.com](https://azuro-ai.com/contact)\n\n📢 **Rejoignez notre communauté IA sur Skool** 👉 [Le Club IA](https://www.skool.com/le-club-ia)\n\n### 🔗 Suivez-moi sur les réseaux\n\n🎥 **YouTube** : [Thomas BSSH](https://www.youtube.com/@thomasbssh?sub_confirmation=1)  \n💼 **LinkedIn** : [Thomas Berton](https://linkedin.com/in/thomas-berton-563894196)  \n📱 **Instagram** : [@thomasbssh](https://instagram.com/thomasbssh)\n\n---","height":400,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-320,-80],"typeVersion":1,"id":"7a4c6dbf-ce0f-48c0-b21e-13bcaf5153ed","name":"Signature"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,816],"id":"79ca7163-a45e-4044-9282-7ce112395871","name":"Attendre 20 Secondes","webhookId":"a7bf329e-b1ca-4f59-b954-d57e551210f6"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Créer un Enregistrement Airtable","type":"main","index":0}]]},"Créer un Enregistrement Airtable":{"main":[[{"node":"Attendre 20 Secondes","type":"main","index":0}]]},"Envoyer Requête HTTP":{"main":[[{"node":"Vérifier Statut de la Requête","type":"main","index":0}],[{"node":"Mettre à Jour Statut Erreur Airtable","type":"main","index":0}]]},"Vérifier Statut de la Requête":{"main":[[{"node":"Attendre 20 Secondes","type":"main","index":0}],[{"node":"Mettre à Jour Statut Terminé Airtable","type":"main","index":0}]]},"Attendre 20 Secondes":{"main":[[{"node":"Envoyer Requête HTTP","type":"main","index":0}]]}},"pinData":{"When Executed by Another Workflow":[{"json":{"id_request":"7d500c2bdf72404aae5b4f2d751019d8","request":"https://api.wavespeed.ai/api/v3/predictions/7d500c2bdf72404aae5b4f2d751019d8/result","type":"raw_video"}}]},"meta":null}