2025/11/26/fF66ct0XwdaC45ez.json
{"nodes":[{"parameters":{},"id":"1096d9f9-d488-49c9-a239-8e3ad3e04ac7","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[784,144],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"d2ea3598-bdd7-438c-afd2-f89b10c8d57d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[464,672],"typeVersion":1},{"parameters":{},"id":"49766066-f14c-4cb9-be96-005220c48faf","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[560,1072],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"a21b46fd-e4dc-4225-8ea8-36006346483d","name":"n8n","type":"n8n-nodes-base.n8n","position":[1184,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"sksg6kbWApgusau0","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"085d7aeb-0c5e-4097-acf0-0bc5a3f05a36","name":"Return","type":"n8n-nodes-base.set","position":[2528,880],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"5df9fefb-0dba-47e4-8583-940a103ef348","name":"If file too large","type":"n8n-nodes-base.if","position":[1200,800],"typeVersion":2},{"parameters":{},"id":"0d983076-d3e8-4173-bc17-01c76bcedf26","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1200,1056],"typeVersion":2},{"parameters":{},"id":"62a48daa-1383-4705-9235-980f12f81c31","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2064,880],"typeVersion":1},{"parameters":{},"id":"c970f116-ce8e-4b1c-9085-507571d01d20","name":"File is different","type":"n8n-nodes-base.noOp","position":[2064,1040],"typeVersion":1},{"parameters":{},"id":"08cee446-9c74-4929-8021-4772017286e4","name":"File is new","type":"n8n-nodes-base.noOp","position":[2064,1232],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"017d15a1-2f6b-4baa-902d-e03b1d1c1ca8","name":"Create new file","type":"n8n-nodes-base.github","position":[2288,1232],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubApi":{"id":"q9MC3molCMaiEh38","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"9ada0cfb-175f-4272-b4cf-0b627e913018","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2288,1040],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"q9MC3molCMaiEh38","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"7ae0032b-8ebd-488f-b4f3-5281ceb36e89","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1392,240],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":1}]}},"id":"9e9bd658-f2a4-4791-8330-87034c79301d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[784,336],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"29579493-ddb8-442c-a510-192234163c36","name":"Create sub path","type":"n8n-nodes-base.set","position":[1648,1056],"typeVersion":3.3},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"8ad06f64-72ec-461b-8a0f-8a8e9aa61c92","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[544,32],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=Mango974"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"c945c168-4b75-4f56-a040-bfae609485ec","name":"Config","type":"n8n-nodes-base.set","position":[832,1072],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"7da2dbb3-1db6-4960-9443-c8bf6207e8e6","name":"Get file data","type":"n8n-nodes-base.github","position":[1008,800],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"q9MC3molCMaiEh38","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"cd821b42-544c-4c72-90d8-4c59822083b1","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1808,336],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{},"id":"16cdb3b1-c164-483f-ab0f-63ab3b0d960d","name":"Wait","type":"n8n-nodes-base.wait","position":[2032,432],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"e37f19b1-5e15-4ad7-9b1f-9e9ac861ccbc","name":"Get file","type":"n8n-nodes-base.github","position":[1424,784],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"q9MC3molCMaiEh38","name":"GitHub account"}}},{"parameters":{"amount":10},"id":"90cb1697-e357-45bc-9591-55b6486a4af5","name":"Wait1","type":"n8n-nodes-base.wait","position":[1808,96],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"jsCode":"// Récupère les deux inputs\nconst fileInput = $input.first().json.content \n    ? JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString()) \n    : null;\n\nconst n8nInput = $input.last().json.data;\n\n// Si le fichier n'existe pas sur GitHub, c'est nouveau\nif (!fileInput) {\n  return { githubStatus: \"new\" };\n}\n\n// Fonction simple pour comparer deux objets (remplace _.isMatch)\nfunction isMatch(obj1, obj2) {\n    return JSON.stringify(obj1) === JSON.stringify(obj2);\n}\n\n// Compare\nif (isMatch(fileInput, n8nInput)) {\n  return { githubStatus: \"same\" }; // Rien à faire\n} else {\n  return { githubStatus: \"modified\" }; // Modifié\n}\n"},"id":"8006860b-c67d-4c55-a147-5fa1be0cc696","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[1408,1056],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"25fe49f4-74ff-4f6c-bb32-18cbdfd35330","name":"Switch","type":"n8n-nodes-base.switch","position":[1840,1056],"typeVersion":3.2},{"parameters":{"amount":10},"id":"4c684016-07f5-455d-a3e2-80910c6328f1","name":"Wait2","type":"n8n-nodes-base.wait","position":[2032,256],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"415b0bb7-e02f-4cd9-ae7b-6d805b74df75","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-160,32],"typeVersion":1},{"parameters":{"chatId":"5578289506","text":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,240],"id":"12611903-26a4-4063-b162-95c923508324","name":"starting message","webhookId":"736de576-eee3-4ae6-9a52-90db0a7e3b39","credentials":{"telegramApi":{"id":"qZLOZboo6MMuBmXN","name":"Telegram api backup"}}},{"parameters":{"chatId":"5578289506","text":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2000,96],"id":"c8552977-c644-4a57-8025-bc8d115cd84a","name":"starting message1","webhookId":"736de576-eee3-4ae6-9a52-90db0a7e3b39","credentials":{"telegramApi":{"id":"qZLOZboo6MMuBmXN","name":"Telegram api backup"}}},{"parameters":{"chatId":"5578289506","text":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2176,256],"id":"173a5b92-fa77-47c5-9d52-5bece054c787","name":"starting message2","webhookId":"736de576-eee3-4ae6-9a52-90db0a7e3b39","credentials":{"telegramApi":{"id":"qZLOZboo6MMuBmXN","name":"Telegram api backup"}}},{"parameters":{"chatId":"5578289506","text":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.id }}\n```","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2192,448],"id":"3b685945-6e31-4c85-9d34-400930058a41","name":"starting message3","webhookId":"736de576-eee3-4ae6-9a52-90db0a7e3b39","credentials":{"telegramApi":{"id":"qZLOZboo6MMuBmXN","name":"Telegram api backup"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"starting message3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"starting message1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"starting message2","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"starting message","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"starting message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]},"starting message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"starting message2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"starting message3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}