2025/11/26/l8AUGx6RUryPS1sa.json
{"nodes":[{"parameters":{"path":"youtube-phase3-script-ai","responseMode":"lastNode","options":{}},"id":"3ec5aa4b-de16-4d26-aa6f-1b74fb83cbda","name":"🎯 Trigger Phase 3","type":"n8n-nodes-base.webhook","position":[-816,640],"webhookId":"phase3-ai-webhook","typeVersion":1.1},{"parameters":{"content":"## 🤖 PHASE 3: SCRIPT (IA)\n\n**Agent IA intégré**\n\n✅ Intelligence artificielle\n✅ Optimisation automatique\n✅ Qualité maximale\n\n**Outputs**: JSON structuré","height":260,"width":380,"color":4},"id":"2602827d-9a01-4c08-bfab-20a8cf6743a6","name":"🤖 PHASE 3: SCRIPT (IA)","type":"n8n-nodes-base.stickyNote","position":[-832,336],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"input-001","operator":{"type":"string","operation":"exists"},"leftValue":"={{$json.body.topic}}"}]},"options":{}},"id":"345237cb-3993-4b0c-b6b7-56cafd70f536","name":"✅ Valider Inputs","type":"n8n-nodes-base.if","position":[-592,640],"typeVersion":2},{"parameters":{"promptType":"define","text":"=GÉNÉRATION SCRIPT - PHASE 3:\n\n=== CONTEXTE STRATÉGIE ===\nStrategy Phase 2:\n{{$json.phase2_output}}\n\n=== CONFIGURATION VIDÉO ===\nTopic: \"{{topic}}\"\nTarget Duration: {{target_duration}} minutes\nTarget Audience: \"{{target_audience}}\"\nVisual Style: \"{{visual_style}}\"\nLanguage: \"{{language}}\"\nYour Brand Voice: \"{{brand_voice}}\" (si applicable)\n\n=== INSTRUCTIONS ===\n\n1. Génère 3 versions DISTINCTES de script\n   - Version A: Hook Émotionnel\n   - Version B: Hook Statistique\n   - Version C: Hook Question\n\n2. Chaque version doit:\n   ✓ Être complète (hook + intro + main + conclusion + CTA)\n   ✓ Durer ~{{target_duration}} minutes\n   ✓ Être optimisée pour voice-over AI (phrases courtes)\n   ✓ Inclure visual cues précis\n   ✓ Avoir pacing varié pour retention\n\n3. Évalue chaque version:\n   ✓ Hook strength\n   ✓ Retention prediction\n   ✓ Audience fit\n   ✓ Execution difficulty\n\n4. Choisis la MEILLEURE version\n   ✓ Justifie pourquoi vs alternatives\n\n5. Génère storyboard détaillé (20+ segments)\n   ✓ Timestamps précis\n   ✓ Visual descriptions\n   ✓ Assets recommandés\n\n=== DIRECTIVES QUALITÉ ===\n\nScript DOIT être:\n- Conversational et naturel (pas robotique)\n- Clair sans jargon technique\n- Bien pacing (pas monotone)\n- Orienté rétention (garder engagement entièrement)\n- Aligned stratégie Phase 2\n\nHook DOIT:\n- Capturer attention en 3-5 secondes\n- Promettre valeur/émotion\n- Créer envie de continuer regarder\n\n=== SORTIE ===\n\nRetourner UNIQUEMENT JSON valide, structure complète.\n","options":{"systemMessage":"Tu es SCRIPT_OPTIMIZER_PHASE3, expert en scriptwriting vidéo YouTube sans visage.\n\n### RÔLE CRITIQUE\nGénérer 3 versions de script TESTÉES et optimisées, choisir la meilleure pour maximal engagement.\n\n### MÉTHODOLOGIE A/B TESTING\n\n1. **GÉNÉRER 3 versions** avec hooks différents:\n   - Version A : Hook Émotionnel (story personnelle, peur, inspiration)\n   - Version B : Hook Statistique (chiffres choquants, data pertinente)\n   - Version C : Hook Question (curiosité, problème non résolu)\n\n2. **ÉVALUER** chaque version sur:\n   - Hook strength (0-10 scale)\n   - Predicted 30-sec retention (0-100%)\n   - Predicted full video retention (0-100%)\n   - Clarity & flow (0-10)\n   - CTA effectiveness (0-10)\n   - Emotional resonance (0-10)\n\n3. **CHOISIR** version optimale basée sur:\n   - Meilleur retention prediction\n   - Alignement stratégie Phase 2\n   - Faisabilité voix off\n\n4. **AFFINER** version choisie:\n   - Peaufiner transitions\n   - Optimiser pacing\n   - Renforcer hook + CTA\n\n### FORMAT SCRIPT - Optimisé pour Voice-Over AI\n\n**Règles Format**:\n- ✓ Phrases courtes (<20 mots typiquement) = meilleur voice-over\n- ✓ Pas de jargon technique sauf expliqué immédiatement\n- ✓ Incluir des pauses naturelles [PAUSE: 2 sec]\n- ✓ Capitalisé pour emphasis naturel: \"C'EST CRITIQUE\"\n- ✓ Incluir visual cues précis pour timing asset\n\n**Structure Timing**:\nHook: 15-30 sec (première impression critique)\nIntro: 30-60 sec (establir context)\nMain Content: 60-70% durée totale\nConclusion: 15-40 sec (recap key points)\nCTA: 5-15 sec (call to action)\n\n### FORMAT SORTIE - JSON STRICT\n{\n\"script_generation_status\": \"success\" | \"error\",\n\"timestamp\": \"ISO_8601\",\n\"target_duration_minutes\": number,\n\"selected_version\": \"A|B|C\",\n\"final_script\": {\n\"hook\": {\n\"text\": \"string (15-30 sec script)\",\n\"duration_seconds\": number,\n\"hook_type\": \"Emotional|Statistical|Question\",\n\"visual_cue\": \"string (ex: 'Full screen text: WAIT...')\",\n\"emotional_impact_predicted\": \"Low|Medium|High\"\n},\n\"intro\": {\n\"text\": \"string (30-60 sec script)\",\n\"duration_seconds\": number,\n\"purpose\": \"string\",\n\"visual_cue\": \"string\"\n},\n\"main_points\": [\n{\n\"point_number\": 1-5,\n\"topic\": \"string\",\n\"text\": \"string (main point details)\",\n\"duration_seconds\": number,\n\"key_message\": \"string (one-liner)\",\n\"visual_approach\": \"string (ex: 'B-roll + text overlay')\",\n\"sub_points\": [\"string\"] (2-3 sub-points si applicable),\n\"retention_risk\": \"Low|Medium|High\"\n}\n],\n\"conclusion\": {\n\"text\": \"string (15-40 sec script)\",\n\"duration_seconds\": number,\n\"recap_points\": [\"string\"] (3-5 key takeaways),\n\"visual_cue\": \"string\"\n},\n\"cta\": {\n\"text\": \"string (5-15 sec script)\",\n\"duration_seconds\": number,\n\"cta_type\": \"Subscribe|Like|Comment|Link|Multiple\",\n\"cta_placement\": \"End|Mid+End\",\n\"urgency_level\": \"Low|Medium|High\"\n},\n\"total_duration_seconds\": number,\n\"total_duration_minutes\": number,\n\"transcript_full\": \"string (script complet d'une traite)\",\n\"background_music_suggestion\": \"string (tempo, mood, style)\"\n},\n\"version_comparison\": [\n{\n\"version\": \"A|B|C\",\n\"hook_type\": \"Emotional|Statistical|Question\",\n\"hook_strength_score\": number (0-10),\n\"hook_text\": \"string (hook seulement)\",\n\"predicted_retention_30_seconds\": number (0-100),\n\"predicted_retention_full_video\": number (0-100),\n\"predicted_ctr\": number,\n\"strengths\": [\n\"string (3-5 forces version)\"\n],\n\"weaknesses\": [\n\"string (2-3 faiblesses version)\"\n],\n\"audience_fit_score\": number (0-100, vs {{target_audience}}),\n\"execution_difficulty\": \"Easy|Medium|Hard (for voiceover + visuals)\"\n}\n],\n\"optimization_notes\": \"string (150-250 chars, WHY version choisie est meilleure)\",\n\"visual_storyboard\": [\n{\n\"segment_number\": 1-30,\n\"time_code\": \"MM:SS\",\n\"script_snippet\": \"string\",\n\"visual_description\": \"string\",\n\"recommended_assets\": [\"string\"]\n}\n],\n\"voiceover_notes\": {\n\"tone\": \"string (descriptif détaillé pour VO actor)\",\n\"pacing\": \"Fast|Medium|Slow|Variable\",\n\"emphasis_words\": [\n\"string (words to emphasize in voiceover)\"\n],\n\"pause_instructions\": [\n\"string (ex: 'Pause 2 sec après \"C'est crucial\"')\"\n]\n},\n\"engagement_predictions\": {\n\"expected_hook_impact\": \"Low|Medium|High\",\n\"expected_watch_time_percent\": number (0-100),\n\"expected_like_rate\": number (0-5 percent estimate),\n\"expected_comment_rate\": number (0-2 percent estimate),\n\"expected_share_rate\": number (0-1 percent estimate)\n},\n\"seo_integration\": {\n\"keywords_mentioned\": [\"string\"] (3-5 keywords dans script),\n\"keyword_placement_natural\": true | false,\n\"natural_keyword_density\": number (target: 2-3%)\n},\n\"quality_metrics\": {\n\"script_clarity_score\": number (0-100),\n\"flow_and_pacing_score\": number (0-100),\n\"engagement_potential_score\": number (0-100),\n\"overall_script_quality\": number (0-100)\n}\n}\n\n\n### RÈGLES STRICTES\n- ✓ Générer 3 versions DISTINCTES avec hooks réels différents\n- ✓ Phrases courtes (<20 mots pour voice-over)\n- ✓ Pas d'inventer durées, les calculer exactement\n- ✓ Total duration ≈ {{target_duration}} minutes (±30 sec tolerance)\n- ✓ All predictions basées sur benchmarks réels\n- ✓ Storyboard au minimum 15 segments\n- ✓ JSON valide uniquement\n\n\n","maxIterations":15}},"id":"2d60cc18-e7ca-4e26-8ce9-cd919f4c9f47","name":"🤖 Agent IA - Script","type":"@n8n/n8n-nodes-langchain.agent","position":[-224,624],"typeVersion":1.7},{"parameters":{"jsCode":"const agentOutput = $input.first().json;\nlet result;\ntry {\n  if (typeof agentOutput.output === 'string') {\n    let clean = agentOutput.output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    result = JSON.parse(clean);\n  } else {\n    result = agentOutput.output || agentOutput;\n  }\n} catch(e) {\n  result = { status: 'success', data: agentOutput };\n}\nresult.ai_enhanced = true;\nreturn [{ json: result }];"},"id":"4e7b6546-7d15-4a3a-9917-d797b8614a0a","name":"📊 Formater Résultats","type":"n8n-nodes-base.code","position":[160,640],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"resp-001","name":"status","type":"string","value":"success"},{"id":"resp-002","name":"phase","type":"string","value":"Phase 3 - Script (AI)"},{"id":"resp-003","name":"outputs","type":"object","value":"={{$json}}"},{"id":"resp-004","name":"timestamp","type":"string","value":"={{$now}}"}]},"options":{}},"id":"e2533526-e7b6-4d70-9f3a-15211c7f188c","name":"📦 Construire Réponse","type":"n8n-nodes-base.set","position":[400,640],"typeVersion":3.4},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"533780da-8c62-4362-983e-cfbb70cb7441","name":"✅ Réponse Succès","type":"n8n-nodes-base.respondToWebhook","position":[640,640],"typeVersion":1.1},{"parameters":{"model":"google/gemini-3-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-368,832],"id":"df3a6c50-88f2-46ca-8998-7c18b43f4085","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"yyKOyAeF8ufVx7Sc","name":"OpenRouter account"}}}],"connections":{"🎯 Trigger Phase 3":{"main":[[{"node":"✅ Valider Inputs","type":"main","index":0}]]},"✅ Valider Inputs":{"main":[[{"node":"🤖 Agent IA - Script","type":"main","index":0}]]},"🤖 Agent IA - Script":{"main":[[{"node":"📊 Formater Résultats","type":"main","index":0}]]},"📊 Formater Résultats":{"main":[[{"node":"📦 Construire Réponse","type":"main","index":0}]]},"📦 Construire Réponse":{"main":[[{"node":"✅ Réponse Succès","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"🤖 Agent IA - Script","type":"ai_languageModel","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}