2025/11/26/r1iJnA5WCbMOavFU.json
{"nodes":[{"parameters":{"path":"youtube-phase6-finalisation-ai","responseMode":"lastNode","options":{}},"id":"d6d028eb-d934-4be8-adac-8c5600e7929c","name":"🎯 Trigger Phase 6","type":"n8n-nodes-base.webhook","position":[-768,32],"webhookId":"phase6-ai-webhook","typeVersion":1.1},{"parameters":{"content":"## 🤖 PHASE 6: FINALISATION (IA)\n\n**Agent IA intégré**\n\n✅ Intelligence artificielle\n✅ Optimisation automatique\n✅ Qualité maximale\n\n**Outputs**: JSON structuré","height":260,"width":380,"color":4},"id":"6ec56389-5d3b-4fc4-9694-799d3df42151","name":"🤖 PHASE 6: FINALISATION (IA)","type":"n8n-nodes-base.stickyNote","position":[-784,-272],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"input-001","operator":{"type":"string","operation":"exists"},"leftValue":"={{$json.body.topic}}"}]},"options":{}},"id":"ba1f4535-efd5-4d19-8f59-0bd497ce0bf9","name":"✅ Valider Inputs","type":"n8n-nodes-base.if","position":[-544,32],"typeVersion":2},{"parameters":{"promptType":"define","text":"=OPTIMISATION SEO YOUTUBE - PHASE 6:\n\n=== VIDEO FINALE ===\nTitle Working: \"{{working_title}}\"\nTopic: \"{{topic}}\"\nTarget Audience: \"{{target_audience}}\"\nVideo Duration: {{final_duration}} minutes\n\n=== DONNÉES PRÉALABLES ===\nPhase 2 Strategy: {{$json.phase2_strategy}}\nPhase 3 Script: {{$json.phase3_script}}\nCompetitive Data: {{$json.phase1_insights}}\n\n=== INSTRUCTIONS ===\n\n1. Génère 5 titres SEO-optimisés distincts\n   ✓ 45-60 caractères chacun\n   ✓ Lead avec keyword principal\n   ✓ Incluir CTR-boosting punctuation\n\n2. Crée description complète 300-500 words\n   ✓ Premier 150 chars = clé\n   ✓ Keyword principal dans phrase 1\n   ✓ Include timestamps si applicable\n   ✓ Include CTA\n\n3. Génère 15-20 tags pertinents\n   ✓ Order par importance\n   ✓ Mix spécifiques + génériques\n   ✓ Include misspellings\n\n4. Recommande meilleur titre + rationale\n\n5. Fournir prédictions SEO précises\n   ✓ Estimated ranking\n   ✓ View projections\n   ✓ CTR prediction\n\n=== DIRECTIVES QUALITÉ ===\n\nOptimisation DOIT viser:\n- Apparitions dans recherche YouTube\n- High CTR (>3% target)\n- Relevance maximale\n- Competitive advantage\n\n=== SORTIE ===\n\nRetourner UNIQUEMENT JSON valide, structure complète.\n","options":{"systemMessage":"Tu es SEO_FINALIZER_PHASE6, expert en optimisation YouTube et métadonnées.\n\n### RÔLE\nGénérer métadonnées SEO optimisées YouTube qui maximisent impressions et CTR.\n\n### TÂCHES\n1. **Analyser** titre + description patterns concurrents\n2. **Générer** 5 variantes titres SEO-optimisées\n3. **Créer** description détaillée optimisée\n4. **Générer** 15-20 tags pertinents\n5. **Prédire** impact SEO et CTR potential\n\n### BEST PRACTICES YOUTUBE 2025\n\n**Titres** :\n- 45-60 caractères optimal (lisible search + desktop)\n- Lead avec keyword principal\n- Inclure nombre si listicle (ex: \"Top 5 Ways...\")\n- Punctuation increase CTR (colon, dash, question mark)\n- Avoid ALL CAPS (sauf rare emphasis)\n\n**Description** :\n- Premier 150 chars = most visible (avant \"Show More\")\n- Keyword principal dans première phrase\n- Liens pertinents + timestamps\n- Encourager actions (subscribe, like, comment)\n- Include captions pour transcription\n\n**Tags** :\n- 1-2 mots chacun (pas phrases)\n- Lead avec mots spécifiques vs génériques\n- Include misspellings courants\n- Order par importance décroissante\n\n### FORMAT SORTIE - JSON STRICT\n{\n\"seo_optimization_status\": \"success\" | \"error\",\n\"timestamp\": \"ISO_8601\",\n\"video_topic\": \"{{topic}}\",\n\"primary_keyword\": \"string\",\n\"secondary_keywords\": [\"string\"],\n\"title_options\": [\n{\n\"rank\": 1-5,\n\"title\": \"string (45-60 chars)\",\n\"character_count\": number,\n\"keyword_position\": \"Lead|Mid|End\",\n\"predicted_ctr\": number (2.0-8.0 range),\n\"predicted_impressions_30days\": number (estimate),\n\"seo_score\": number (0-100),\n\"rationale\": \"string\"\n}\n],\n\"recommended_title\": {\n\"title\": \"string\",\n\"why_best\": \"string (2-3 phrases)\",\n\"predicted_ctr\": number,\n\"predicted_rank\": number (1-1000 estimate)\n},\n\"description\": {\n\"first_150_chars\": \"string (most visible, keyword-optimized)\",\n\"full_description\": \"string (300-500 words optimal)\",\n\"includes_timestamps\": true | false,\n\"includes_cta\": true | false,\n\"seo_score\": number (0-100)\n},\n\"tags_recommended\": [\n{\n\"rank\": 1-20,\n\"tag\": \"string (1-2 words)\",\n\"search_volume_estimate\": \"High|Medium|Low\",\n\"competition\": \"High|Medium|Low\",\n\"relevance\": number (0-100)\n}\n],\n\"thumbnail_recommendation\": {\n\"suggested_text\": \"string (1-2 words max)\",\n\"color_recommendations\": [\"string\"],\n\"layout\": \"Text_left|Text_center|Text_right|Face_with_text\"\n},\n\"seo_predictions\": {\n\"estimated_rank_position\": number (1-100 estimate),\n\"estimated_daily_views_7days\": number,\n\"estimated_monthly_views\": number,\n\"estimated_ctr_percent\": number,\n\"confidence_score\": number (0-100)\n},\n\"competitive_positioning\": {\n\"unique_angle_emphasized\": \"string\",\n\"differentiation_vs_competitors\": [\"string\"],\n\"market_opportunity\": \"High|Medium|Low\"\n},\n\"optimization_summary\": {\n\"seo_score_overall\": number (0-100),\n\"keyword_optimization\": number (0-100),\n\"title_strength\": number (0-100),\n\"description_strength\": number (0-100),\n\"tag_strategy_strength\": number (0-100)\n},\n\"publishing_recommendations\": {\n\"best_day_to_publish\": \"string (day + reasoning)\",\n\"best_time_to_publish_utc\": \"string (HH:MM reasoning)\",\n\"playlist_suggestions\": [\"string\"],\n\"collaboration_opportunities\": [\"string\"]\n}\n}\n\n\n### RÈGLES STRICTES\n- ✓ 5 titres distincts, tous 45-60 chars\n- ✓ Description 300-500 words optimal\n- ✓ 15-20 tags générés\n- ✓ Toutes prédictions basées benchmarks réels\n- ✓ JSON valide uniquement\n\n\n","maxIterations":15}},"id":"6ff677e1-d5ff-4df1-a15d-d028926a1c8d","name":"🤖 Agent IA - Finalisation","type":"@n8n/n8n-nodes-langchain.agent","position":[-240,-16],"typeVersion":1.7},{"parameters":{"jsCode":"const agentOutput = $input.first().json;\nlet result;\ntry {\n  if (typeof agentOutput.output === 'string') {\n    let clean = agentOutput.output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    result = JSON.parse(clean);\n  } else {\n    result = agentOutput.output || agentOutput;\n  }\n} catch(e) {\n  result = { status: 'success', data: agentOutput };\n}\nresult.ai_enhanced = true;\nreturn [{ json: result }];"},"id":"7bf65819-ae01-41ab-a998-5539eb714ef2","name":"📊 Formater Résultats","type":"n8n-nodes-base.code","position":[176,-16],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"resp-001","name":"status","type":"string","value":"success"},{"id":"resp-002","name":"phase","type":"string","value":"Phase 6 - Finalisation (AI)"},{"id":"resp-003","name":"outputs","type":"object","value":"={{$json}}"},{"id":"resp-004","name":"timestamp","type":"string","value":"={{$now}}"}]},"options":{}},"id":"e7a1d2e8-e18f-4e46-8958-efde5a70706a","name":"📦 Construire Réponse","type":"n8n-nodes-base.set","position":[432,-32],"typeVersion":3.4},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"2b3511b7-9cd6-4b0c-a9dd-c3a8cd1a7e0d","name":"✅ Réponse Succès","type":"n8n-nodes-base.respondToWebhook","position":[656,-16],"typeVersion":1.1},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-384,192],"id":"6b4d5024-2e9e-4292-b53b-d69449357e97","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"yyKOyAeF8ufVx7Sc","name":"OpenRouter account"}}}],"connections":{"🎯 Trigger Phase 6":{"main":[[{"node":"✅ Valider Inputs","type":"main","index":0}]]},"✅ Valider Inputs":{"main":[[{"node":"🤖 Agent IA - Finalisation","type":"main","index":0}]]},"🤖 Agent IA - Finalisation":{"main":[[{"node":"📊 Formater Résultats","type":"main","index":0}]]},"📊 Formater Résultats":{"main":[[{"node":"📦 Construire Réponse","type":"main","index":0}]]},"📦 Construire Réponse":{"main":[[{"node":"✅ Réponse Succès","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"🤖 Agent IA - Finalisation","type":"ai_languageModel","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}