2025/11/26/S0JyxSO8ab1KrJm0.json
{"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"videoTopic"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[784,48],"id":"335d953b-5376-46f6-9ac2-093ee99a4f24","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Scène : {{ $('Séparation des Sorties').item.json.output }}","options":{"systemMessage":"=# Contexte\nTu es un Maître Générateur de Prompts Sonores.\nTa mission est de créer des prompts sonores immersifs et évocateurs à partir d’une scène donnée. Ces prompts seront utilisés pour générer un fond sonore correspondant à l’ambiance et au décor de la scène.\n\n## Instructions\n* Génère un prompt d’une à deux phrases capturant l’ambiance, le ton et les éléments sonores clés\n* Utilise un langage riche et sensoriel pour décrire l’atmosphère de fond, en mettant l’accent sur des sons spécifiques (ex. : pas sur des pavés, conversations lointaines, vent dans les feuilles, musique en sourdine, bourdonnement industriel)\n* Concentre-toi uniquement sur l’audio de fond — pas de dialogue, de narration ni d’effets sonores au premier plan\n* Adapte-toi à l’émotion et au cadre de la scène : calme, chaotique, inquiétant, festif, serein, etc.\n* Évite les descriptions vagues ; sois précis et immersif\n* N’inclus jamais de guillemets (\"\") ni de sauts de ligne (\\n)\n\n## Sortie\nAffiche uniquement le prompt sonore final, prêt à être utilisé par un modèle de génération audio.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[784,1104],"id":"b061703b-9a75-4101-bec5-7f2e6c41650b","name":"Générateur de Prompts Sonores"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1104],"id":"ca209515-de43-4b1c-8593-13f100398ab7","name":"Envoi de Texte pour Génération Sonore"},{"parameters":{"name":"={{ $('Exécution de Flux de Travail pour Vidéo').item.json.fields['ID Requette'] }}.mp3","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW","mode":"list","cachedResultName":"Medias","cachedResultUrl":"https://drive.google.com/drive/folders/1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1408,1104],"id":"2493d171-eaf4-4918-a651-c9531f38da8d","name":"Sauvegarde sur Google Drive"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1904,1088],"id":"7688d4d2-550a-41f4-b194-29e9b6634d24","name":"Fusion des Données"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"b671d213-c388-4390-8180-a4dd31b7aa9b\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.groupedLinks[0].link }}\",\n    \"Video-2.source\": \"{{ $json.groupedLinks[1].link }}\",\n    \"Video-3.source\": \"{{ $json.groupedLinks[2].link }}\",\n    \"Video-4.source\": \"{{ $json.groupedLinks[3].link }}\",\n    \"Audio-1.source\": \"{{ $json.groupedLinks[0].weblink }}\",\n    \"Audio-2.source\": \"{{ $json.groupedLinks[1].weblink }}\",\n    \"Audio-3.source\": \"{{ $json.groupedLinks[2].weblink }}\",\n    \"Audio-4.source\": \"{{ $json.groupedLinks[3].weblink }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,1104],"id":"4233d436-6a7b-4936-b9e8-3adc11994d44","name":"Demande de Rendu Vidéo"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2576,1104],"id":"e4d208e2-aad0-4440-9b7b-3ea12ccf7284","name":"Attente de 60 Secondes","webhookId":"d5cd29e8-d3f7-491c-a6b6-2d705aa47931"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1104],"id":"fd2f1212-5abb-4f06-a923-c14e6be4f69a","name":"Téléchargement de Vidéo"},{"parameters":{"jsCode":"// Get all input items\nconst inputItems = $input.all();\n\n// Build the array of objects\nconst groupedArray = inputItems.map(item => {\n  return {\n    link: item.json.fields?.Lien || null,\n    weblink: item.json.webViewLink || null,\n  };\n});\n\n// Return a single item with the array\nreturn [{\n  json: {\n    groupedLinks: groupedArray\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,1104],"id":"2a1f1aea-6703-4d86-a92f-7c513e35d3ed","name":"Exécution de Code Personnalisé"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,1664],"id":"1c4c5f77-75b5-4601-a645-f809cee54686","name":"Partage de Fichier Google Drive"},{"parameters":{"jsonSchemaExample":"{\n  \"Part 1\": \"Prompt for part 1\",\n  \"Part 2\": \"Prompt for part 2\",\n  \"Part 3\": \"Prompt for part 3\",\n  \"Part 4\": \"Prompt for part 4\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1200,288],"id":"c1c379bc-b2b6-4301-ac79-f9099328aea4","name":"Analyseur de Sortie Structurée"},{"parameters":{"promptType":"define","text":"=Sujet de la vidéo : {{ $json.videoTopic }}","hasOutputParser":true,"options":{"systemMessage":"=# Contexte\nTu es un Maître Agent de Structuration Visuelle Narrative.\nTa mission est de prendre un sujet de courte vidéo et de le diviser en quatre parties formant ensemble une histoire visuelle cohérente et vivante, optimisée pour la génération d’images à partir de texte.\n\n## Instructions\n* Crée exactement quatre parties : Partie 1, Partie 2, Partie 3, et Partie 4\n* Décris le sujet principal de l’histoire de manière strictement identique dans chaque partie (même apparence, style, nom si donné, etc.)\n* Chaque partie doit s’appuyer sur la précédente pour construire un récit visuel complet\n* Chaque partie doit être rédigée comme un prompt d’image détaillé, de qualité professionnelle, compatible avec des modèles comme Flux\n* Sois très précis : décris les personnages, décors, vêtements, objets, expressions, actions, arrière-plans, etc.\n* Utilise un langage riche et imaginatif, visuellement dense\n* Évite les termes génériques — sois toujours spécifique et coloré\n* Aucune guillemet (\"\") ni saut de ligne (\\n)\n* L’ensemble doit être fluide et directement exploitable par un modèle de génération d’images\n\n## Éléments clés à inclure dans chaque partie\n* Description claire des sujets principaux (apparence, tenues, expressions, postures)\n* Accessoires ou objets qui enrichissent la scène\n* Un décor détaillé cohérent avec le thème\n* Progression logique et visuelle d’une partie à l’autre\n\n## Format de sortie\n* Partie 1 : [Prompt d’image détaillé pour la Partie 1]\n* Partie 2 : [Prompt d’image détaillé pour la Partie 2]\n* Partie 3 : [Prompt d’image détaillé pour la Partie 3]\n* Partie 4 : [Prompt d’image détaillé pour la Partie 4]\n\nAffiche uniquement ces quatre champs.\nL’histoire visuelle complète doit paraître cinématographique, immersive et cohérente visuellement."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1008,48],"id":"cd842612-6b47-4070-bc2d-ed7cb3d86b0f","name":"Création de Scénario Vidéo"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1360,48],"id":"5829a611-adc8-443e-97ef-5b1596aaf0ea","name":"Séparation des Sorties"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').first().json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3024,1104],"id":"299ca060-64ef-47a6-ab26-de1267b16930","name":"Envoi de Vidéo sur Telegram","webhookId":"cdeb2987-d275-480b-8532-f69bbed64999"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Video: {{ $('When Executed by Another Workflow').first().json.videoTopic }}"},{"content":"Crée un titre de 3 à 4 mots pour la vidéo donnée.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3248,1104],"id":"cf74cc7c-d2c1-4c1b-a12f-48653d43ada3","name":"Génération de Titre Vidéo"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1328],"id":"241e2aa1-6d24-4ee9-a118-4d95284bf44e","name":"Interaction avec Modèle OpenAI"},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/wavespeed-ai/flux-dev","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"enable_base64_output","value":"false"},{"name":"enable_safety_checker","value":"true"},{"name":"enable_sync_mode","value":"false"},{"name":"guidance_scale","value":"3.5"},{"name":"num_images","value":"1"},{"name":"num_inference_steps","value":"28"},{"name":"output_format","value":"jpeg"},{"name":"prompt","value":"={{ $json.output }}"},{"name":"seed","value":"-1"},{"name":"size","value":"864*1536"},{"name":"strength","value":"0.8"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,480],"id":"23e8df53-f75e-48a4-b489-2a60b77179ef","name":"Génération d'Image avec Flux"},{"parameters":{"workflowId":{"__rl":true,"value":"usYkBA2Qc6ZOBkCj","mode":"list","cachedResultName":"0.1 - Attente Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_request":"={{ $json.data.id }}","request":"={{ $json.data.urls.get }}","type":"raw_image"},"matchingColumns":[],"schema":[{"id":"id_request","displayName":"id_request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1008,480],"id":"1e5224dc-3cff-4cfb-bcc6-3106dfca40f8","name":"Exécution de Flux de Travail Secondaire","executeOnce":false},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/kwaivgi/kling-v1.6-i2v-standard","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"duration","value":"5"},{"name":"guidance_scale","value":"0.5"},{"name":"prompt","value":"={{ $('Séparation des Sorties').item.json.output }}"},{"name":"image","value":"={{ $json.fields.Lien }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,800],"id":"7d148b2b-639b-4310-9c44-e3539155893e","name":"Génération de Vidéo avec Kling"},{"parameters":{"workflowId":{"__rl":true,"value":"usYkBA2Qc6ZOBkCj","mode":"list","cachedResultName":"0.1 - Attente Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_request":"={{ $json.data.id }}","request":"={{ $json.data.urls.get }}","type":"raw_video"},"matchingColumns":[],"schema":[{"id":"id_request","displayName":"id_request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1008,800],"id":"20cbec08-cfaf-4ea5-9571-7fa82543bbd6","name":"Exécution de Flux de Travail pour Vidéo","executeOnce":false},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"DashBoard","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"columns":{"mappingMode":"defineBelow","value":{"Titre":"={{ $json.message.content }}","Type":"Vidéo","Requette":"={{ $('When Executed by Another Workflow').first().json.videoTopic }}","Status":"Terminé","Lien":"={{ $('Téléchargement de Vidéo').item.json.url }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Titre","displayName":"Titre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"raw_image","value":"raw_image"},{"name":"raw_audio","value":"raw_audio"},{"name":"raw_video","value":"raw_video"},{"name":"Vidéo","value":"Vidéo"},{"name":"Post","value":"Post"},{"name":"Image","value":"Image"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Erreur","value":"Erreur"},{"name":"En cours","value":"En cours"},{"name":"Terminé","value":"Terminé"}],"readOnly":false,"removed":false},{"id":"Requette","displayName":"Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ID Requette","displayName":"ID Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lien","displayName":"Lien","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3648,1104],"id":"396ce4f1-35a7-498d-a733-bee4540d435d","name":"Enregistrement dans Airtable"},{"parameters":{"content":"# 🧭 Vue d'ensemble du Workflow\n\n## 📋 Objectif\nCe workflow automatisé a pour objectif de créer des prompts sonores et visuels à partir de sujets vidéo, de générer des contenus multimédias correspondants, puis de les stocker et partager efficacement. Il utilise plusieurs services externes pour le traitement de texte, la génération d'images et de sons, et le stockage de fichiers.\n\n## 🔄 Sections du Processus\n\n### 🎯 Section Déclenchement et Entrée\nLe processus commence par un déclencheur qui active le workflow lorsqu'un sujet vidéo est reçu. Ce sujet est ensuite structuré en plusieurs parties pour créer un scénario visuel cohérent.\n\n### 🔍 Section Traitement et Analyse\nDans cette section, le sujet vidéo est analysé et transformé en prompts détaillés pour la génération d'images et de sons. Les prompts sonores sont générés pour capturer l'ambiance et les éléments sonores clés de la scène. Simultanément, des prompts visuels sont créés pour décrire chaque partie du scénario vidéo.\n\n### 🎨 Section Génération de Contenus\nLes prompts générés sont utilisés pour créer des contenus multimédias. Les prompts sonores sont envoyés à un service de génération sonore pour produire des fichiers audio. Les prompts visuels sont traités pour générer des images et des vidéos qui illustrent le scénario.\n\n### ⚡ Section Actions et Sorties\nLes fichiers multimédias générés sont ensuite sauvegardés sur Google Drive et partagés via des liens accessibles. Les vidéos sont également envoyées sur Telegram pour une distribution rapide. Enfin, les détails des contenus générés sont enregistrés dans Airtable pour un suivi et une gestion efficaces.\n\n## 🔗 Liens Utiles\n- [Airtable](https://airtable.com)\n- [Wavespeed](https://wavespeed.ai/?utm_source=Thomas_Berton)\n- [Google Drive](https://drive.google.com)\n- [Telegram](https://telegram.org)\n- [Eleven Labs](https://elevenlabs.io)\n- [Creatomate](https://creatomate.com)","height":916,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-192,528],"typeVersion":1,"id":"c64e2991-c521-4a8d-adc6-879591c84d0f","name":"Workflow Overview"},{"parameters":{"content":"---\n\n## 👨‍💻 Workflow créé par Thomas Berton\n\n**Envie de faire développer vos solutions IA par des pros ?**  \nContactez mon agence Azuro 👉 [azuro-ai.com](https://azuro-ai.com/contact)\n\n📢 **Rejoignez notre communauté IA sur Skool** 👉 [Le Club IA](https://www.skool.com/le-club-ia)\n\n### 🔗 Suivez-moi sur les réseaux\n\n🎥 **YouTube** : [Thomas BSSH](https://www.youtube.com/@thomasbssh?sub_confirmation=1)  \n💼 **LinkedIn** : [Thomas Berton](https://linkedin.com/in/thomas-berton-563894196)  \n📱 **Instagram** : [@thomasbssh](https://instagram.com/thomasbssh)\n\n---","height":400,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-192,16],"typeVersion":1,"id":"9217fe38-a509-47c4-8788-91b65396a1cc","name":"Signature"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1008,288],"id":"a97e375c-f349-424a-bf60-629efa3fd454","name":"Anthropic Chat Model"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Création de Scénario Vidéo","type":"main","index":0}]]},"Générateur de Prompts Sonores":{"main":[[{"node":"Envoi de Texte pour Génération Sonore","type":"main","index":0}]]},"Envoi de Texte pour Génération Sonore":{"main":[[{"node":"Sauvegarde sur Google Drive","type":"main","index":0}]]},"Sauvegarde sur Google Drive":{"main":[[{"node":"Partage de Fichier Google Drive","type":"main","index":0},{"node":"Fusion des Données","type":"main","index":1}]]},"Fusion des Données":{"main":[[{"node":"Exécution de Code Personnalisé","type":"main","index":0}]]},"Demande de Rendu Vidéo":{"main":[[{"node":"Attente de 60 Secondes","type":"main","index":0}]]},"Attente de 60 Secondes":{"main":[[{"node":"Téléchargement de Vidéo","type":"main","index":0}]]},"Téléchargement de Vidéo":{"main":[[{"node":"Envoi de Vidéo sur Telegram","type":"main","index":0}]]},"Exécution de Code Personnalisé":{"main":[[{"node":"Demande de Rendu Vidéo","type":"main","index":0}]]},"Partage de Fichier Google Drive":{"main":[[{"node":"Fusion des Données","type":"main","index":2}]]},"Analyseur de Sortie Structurée":{"ai_outputParser":[[{"node":"Création de Scénario Vidéo","type":"ai_outputParser","index":0}]]},"Création de Scénario Vidéo":{"main":[[{"node":"Séparation des Sorties","type":"main","index":0}]]},"Séparation des Sorties":{"main":[[{"node":"Génération d'Image avec Flux","type":"main","index":0}]]},"Envoi de Vidéo sur Telegram":{"main":[[{"node":"Génération de Titre Vidéo","type":"main","index":0}]]},"Génération de Titre Vidéo":{"main":[[{"node":"Enregistrement dans Airtable","type":"main","index":0}]]},"Interaction avec Modèle OpenAI":{"ai_languageModel":[[{"node":"Générateur de Prompts Sonores","type":"ai_languageModel","index":0}]]},"Génération d'Image avec Flux":{"main":[[{"node":"Exécution de Flux de Travail Secondaire","type":"main","index":0}]]},"Exécution de Flux de Travail Secondaire":{"main":[[{"node":"Génération de Vidéo avec Kling","type":"main","index":0}]]},"Génération de Vidéo avec Kling":{"main":[[{"node":"Exécution de Flux de Travail pour Vidéo","type":"main","index":0}]]},"Exécution de Flux de Travail pour Vidéo":{"main":[[{"node":"Générateur de Prompts Sonores","type":"main","index":0},{"node":"Fusion des Données","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Création de Scénario Vidéo","type":"ai_languageModel","index":0}]]}},"pinData":{"When Executed by Another Workflow":[{"json":{"videoTopic":"point-of-view de moi-même en train de travailler sur mon ordinateur dans un café à Paris, travaillant sur des lignes de code en tant que développeur informatique","chatID":7952797797}}],"Générateur de Prompts Sonores":[{"json":{"output":"Ambiance matinale chaleureuse d’un café parisien, avec le cliquetis rythmé des touches rétroéclairées, le murmure lointain des conversations feutrées, le léger soufflé du café chaud bientôt siroté, le grésillement discret d’une machine à espresso en fond, et la douce lumière dorée filtrant à travers les grandes fenêtres, caressant les surfaces boisées et l’écran brillant du MacBook."}},{"json":{"output":"Ambiance sonore d’un café parisien calme avec un léger murmure feutré de conversations en arrière-plan, le cliquetis rythmé et doux des touches d’un clavier MacBook Pro se mêlant aux tintements distants de tasses et aux pas discrets d’un serveur en tablier noir, le tout baigné par la clarté et la fraîcheur d’une matinée lumineuse."}},{"json":{"output":"Ambiance feutrée d’un café parisien avec sons doux de conversations distantes, cliquetis subtil des touches de clavier, tintement léger de tasse vide déplacée sur la table, le bourdonnement intermittent des machines à café et des pas sur le parquet se mêlant au léger froissement des pages du carnet feuilleté."}},{"json":{"output":"Ambiance feutrée d’un café parisien baigné de lumière dorée d’après-midi, avec le doux murmure des claviers d’ordinateurs, le murmure discret des conversations techniques et créatives, le léger cliquetis de tasses à café fraîchement servies et le bruissement lointain de pages tournées dans un carnet posé sur une table voisine."}}],"Envoi de Texte pour Génération Sonore":[{"json":{"output":"Ambiance matinale chaleureuse d’un café parisien, avec le cliquetis rythmé des touches rétroéclairées, le murmure lointain des conversations feutrées, le léger soufflé du café chaud bientôt siroté, le grésillement discret d’une machine à espresso en fond, et la douce lumière dorée filtrant à travers les grandes fenêtres, caressant les surfaces boisées et l’écran brillant du MacBook."}},{"json":{"output":"Ambiance sonore d’un café parisien calme avec un léger murmure feutré de conversations en arrière-plan, le cliquetis rythmé et doux des touches d’un clavier MacBook Pro se mêlant aux tintements distants de tasses et aux pas discrets d’un serveur en tablier noir, le tout baigné par la clarté et la fraîcheur d’une matinée lumineuse."}},{"json":{"output":"Ambiance feutrée d’un café parisien avec sons doux de conversations distantes, cliquetis subtil des touches de clavier, tintement léger de tasse vide déplacée sur la table, le bourdonnement intermittent des machines à café et des pas sur le parquet se mêlant au léger froissement des pages du carnet feuilleté."}},{"json":{"output":"Ambiance feutrée d’un café parisien baigné de lumière dorée d’après-midi, avec le doux murmure des claviers d’ordinateurs, le murmure discret des conversations techniques et créatives, le léger cliquetis de tasses à café fraîchement servies et le bruissement lointain de pages tournées dans un carnet posé sur une table voisine."}}],"Sauvegarde sur Google Drive":[{"json":{"kind":"drive#file","id":"1fOZiHMK1c_22zVvAmFU-ML9bYSFmAXw0","name":"83f2e6f50fe046feaca9d5aeb9ea3c45.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1fOZiHMK1c_22zVvAmFU-ML9bYSFmAXw0&export=download","webViewLink":"https://drive.google.com/file/d/1fOZiHMK1c_22zVvAmFU-ML9bYSFmAXw0/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"createdTime":"2025-09-02T09:07:02.896Z","modifiedTime":"2025-09-02T09:07:03.719Z","modifiedByMeTime":"2025-09-02T09:07:03.719Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWpHPI6g-HFHyGO3Ret-xQLiZ2ujWLOrbGzDWlWYkyBM-2m7-M3A3HIzyR-TaRNmU_HUG-IAIywxaQhJPs4AbxAvOitrVuzJpttlEpbtw-xoFOIJPAg88Q8yRAqcqN1N5bLr7ntfyQvr6MLIG-9xS36CHkngQASjQaLLUcfnHYdk67Gq48Nn2dXNm2Gw4dRHVqc6kw7LxMlq9uZ0Dy4ccJO30SteFHJA718GFNVkIKMHXEYOMi8pogsBMFqp_J0Ni_5TF6SD8deTnquvRTEEn13mAMb0O7NtJ4TGR2kNxwk9xvOccSJgV0421S0P43u_bxgRN7znv-UD0I8vesCzmUtSBlh3hQurW2ExvyA5agV8qnUcV6uwgelXmnjucVKxdi2i-_8EgdHVOKY-10-5sMT0o4xqUtxPHLMZ_SOnmFkEh2rhklEizn0l0hMY9vLEuwLtbjNzWeqjH-_ZIkKYm8XF9Nci6DSdXYGWdxwLg-2JeO1sL_fhVVNxwxOx584Dpt2sxlL7NcCLyG-98b6N7MNJPtsd4EBytpmwE_yuMFLy2QAkPjxfkoRz8wr1rkgoDdAaWjze5uzjBX6-ULn4TTCw5mkrTi_w0Tjk77b2uSNEqDqCz72CaBqUOT6WsqHhO_W264RD8Wsx6LV_pytBjocYNgnaec5GLvevQGRpazIWySTdYI7NA1QWPBiqfse9h-f9NQ1ow30yJ7xNMXzuDp_8ZL6bV5G59TC4gWkrN53mwASis4v4aevcNjYMaWuUQgS7Ymn5SPceYTllfX5ycbaLa39E6hmefTB9X7_0snbA1Wkr71IF7mDOF-tjTDIPS3AUItSUWtfuetfejTNlIgQu3J1OWg689Xu3rZrYoeGjw7MVn2URG1HdjroHTGlOfXwk6icfmQoLdPOsrXIuGIo233CRLF8fyR6o5_eFQ1jT_zXNvzrGHELdyzUfnq1pDvTJWRcBencX7OQPai-piK1Iw=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWpHPI6g-HFHyGO3Ret-xQLiZ2ujWLOrbGzDWlWYkyBM-2m7-M3A3HIzyR-TaRNmU_HUG-IAIywxaQhJPs4AbxAvOitrVuzJpttlEpbtw-xoFOIJPAg88Q8yRAqcqN1N5bLr7ntfyQvr6MLIG-9xS36CHkngQASjQaLLUcfnHYdk67Gq48Nn2dXNm2Gw4dRHVqc6kw7LxMlq9uZ0Dy4ccJO30SteFHJA718GFNVkIKMHXEYOMi8pogsBMFqp_J0Ni_5TF6SD8deTnquvRTEEn13mAMb0O7NtJ4TGR2kNxwk9xvOccSJgV0421S0P43u_bxgRN7znv-UD0I8vesCzmUtSBlh3hQurW2ExvyA5agV8qnUcV6uwgelXmnjucVKxdi2i-_8EgdHVOKY-10-5sMT0o4xqUtxPHLMZ_SOnmFkEh2rhklEizn0l0hMY9vLEuwLtbjNzWeqjH-_ZIkKYm8XF9Nci6DSdXYGWdxwLg-2JeO1sL_fhVVNxwxOx584Dpt2sxlL7NcCLyG-98b6N7MNJPtsd4EBytpmwE_yuMFLy2QAkPjxfkoRz8wr1rkgoDdAaWjze5uzjBX6-ULn4TTCw5mkrTi_w0Tjk77b2uSNEqDqCz72CaBqUOT6WsqHhO_W264RD8Wsx6LV_pytBjocYNgnaec5GLvevQGRpazIWySTdYI7NA1QWPBiqfse9h-f9NQ1ow30yJ7xNMXzuDp_8ZL6bV5G59TC4gWkrN53mwASis4v4aevcNjYMaWuUQgS7Ymn5SPceYTllfX5ycbaLa39E6hmefTB9X7_0snbA1Wkr71IF7mDOF-tjTDIPS3AUItSUWtfuetfejTNlIgQu3J1OWg689Xu3rZrYoeGjw7MVn2URG1HdjroHTGlOfXwk6icfmQoLdPOsrXIuGIo233CRLF8fyR6o5_eFQ1jT_zXNvzrGHELdyzUfnq1pDvTJWRcBencX7OQPai-piK1Iw=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"28b79d8dc628932600bbe11b94c893ef","sha1Checksum":"09369affbfaa6add8552d5ffdb5dcfbc156a0f73","sha256Checksum":"ae7370ef45e8cff1ada1445cc0ccb8fd840649029a1d899b84be53c1f8f4417d","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqQU5kaWJDYWFaNXduY1lCaVo5SllZQ2p1RFQ4PQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}},{"json":{"kind":"drive#file","id":"1O8kdga7qQqVRTTwRLTaicQJIjOP_curT","name":"22307ef71eb04525a7ee3b5b352bfe72.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1O8kdga7qQqVRTTwRLTaicQJIjOP_curT&export=download","webViewLink":"https://drive.google.com/file/d/1O8kdga7qQqVRTTwRLTaicQJIjOP_curT/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"createdTime":"2025-09-02T09:07:04.996Z","modifiedTime":"2025-09-02T09:07:05.506Z","modifiedByMeTime":"2025-09-02T09:07:05.506Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWLsFZhcFo7qK_j-hg4Q62rj9HJxoDVKBRfWQTLyABRTfv9TLsqTjuJ-a0tKfWKBLhuhu4eSwrWskU-9xSI0xUM7_dR6RAgIPUY8XjD0IODqAOMOykj3LwmwO-48tatI03FGjIsOhtbj0KRNVJg5t5--DlYOA5nocjDhoTcnOXynF5HxjC9CfhDhLyAwzz73HzMKJFTv7t07VAk6Yrcx52ehT-kFwPOJzbZqndRzFa2GXZEqN-j-IiE7GM3Q-WVPTJycVWSH6qjIBMeTSt9FL2Hh0FLEdHjHd5yoYApK7Agqy1TFl02RZyBU6APj-xujUBg2r6gHvsElEj1qSTJr5VQxvZW9wlv7orTE2qnawRkflgH_tccLamDWwApAdX77BLkeSEuyxAvESbG2aKuHysTjl212driIkQzTmkMBDY4KBSYBM-HrbLrGR9-QtLI8PzQYmYIak295WK5UxmhGsAZv0CiKbW2i88hBfJ2HF-jugtyiMPV7IeeMC4eAOP3LxAOhsa71L-8Jhk7I52cmk98-yPLxDr14eE_U1twIkRWvEwp7hZoyHk3olrO_HYV13wdmNBaGWSpBIPrlU-o9IZ2Q5LoeNATH-yR93YKuS5vypd6AkQ2pSr8VPBCjpjWrum55vEy1YoY-RCl9E2DA1VhZiwXrXd-1egayE-8ZuKb49IjbcHfOsgpvGXwYGzyKvAB8-lSa8avfHq5-iqQZk344UDtwI5C65-orCzqUKzYRuYPxtISOcx7QBQJGTrE_i0Vt5UHnxUqiDoogPfaWCgbClJFUsIcjHzoVP0xqRY0rNGp0rxCJeJpeC-tAy7XtuJkJVIMnV8bWrOPac4lfEwvWU-uAvB7vIMFiQPIIUL89KONyXpRri0kfiqNQtEJjJ5XNkTj78ZgznBzcHhAGTkiFJ0oWPNQMl88yqdtUOoVZ-wFjzgZE90VTX8gPy6L-ubmTO1i_D8Uuw7tJh75p9x7aoNv=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWLsFZhcFo7qK_j-hg4Q62rj9HJxoDVKBRfWQTLyABRTfv9TLsqTjuJ-a0tKfWKBLhuhu4eSwrWskU-9xSI0xUM7_dR6RAgIPUY8XjD0IODqAOMOykj3LwmwO-48tatI03FGjIsOhtbj0KRNVJg5t5--DlYOA5nocjDhoTcnOXynF5HxjC9CfhDhLyAwzz73HzMKJFTv7t07VAk6Yrcx52ehT-kFwPOJzbZqndRzFa2GXZEqN-j-IiE7GM3Q-WVPTJycVWSH6qjIBMeTSt9FL2Hh0FLEdHjHd5yoYApK7Agqy1TFl02RZyBU6APj-xujUBg2r6gHvsElEj1qSTJr5VQxvZW9wlv7orTE2qnawRkflgH_tccLamDWwApAdX77BLkeSEuyxAvESbG2aKuHysTjl212driIkQzTmkMBDY4KBSYBM-HrbLrGR9-QtLI8PzQYmYIak295WK5UxmhGsAZv0CiKbW2i88hBfJ2HF-jugtyiMPV7IeeMC4eAOP3LxAOhsa71L-8Jhk7I52cmk98-yPLxDr14eE_U1twIkRWvEwp7hZoyHk3olrO_HYV13wdmNBaGWSpBIPrlU-o9IZ2Q5LoeNATH-yR93YKuS5vypd6AkQ2pSr8VPBCjpjWrum55vEy1YoY-RCl9E2DA1VhZiwXrXd-1egayE-8ZuKb49IjbcHfOsgpvGXwYGzyKvAB8-lSa8avfHq5-iqQZk344UDtwI5C65-orCzqUKzYRuYPxtISOcx7QBQJGTrE_i0Vt5UHnxUqiDoogPfaWCgbClJFUsIcjHzoVP0xqRY0rNGp0rxCJeJpeC-tAy7XtuJkJVIMnV8bWrOPac4lfEwvWU-uAvB7vIMFiQPIIUL89KONyXpRri0kfiqNQtEJjJ5XNkTj78ZgznBzcHhAGTkiFJ0oWPNQMl88yqdtUOoVZ-wFjzgZE90VTX8gPy6L-ubmTO1i_D8Uuw7tJh75p9x7aoNv=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"866c6117d2b4ad6c1549f41fbc14a815","sha1Checksum":"4abfe99e4f232994c12efc3970a3b43c85847db0","sha256Checksum":"8e5d9a1d0a57849741e905f35a74bcb67e903c5598534764d7586fefe83eeef8","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqMjk3RityQmhDTks4TjBnc0FiRjNHZzFwRzVBPQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}},{"json":{"kind":"drive#file","id":"12cINjQLX8QodjAjeYvL536-8W0HBw2u1","name":"7dc382158c77491c9017796a484dd3ce.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=12cINjQLX8QodjAjeYvL536-8W0HBw2u1&export=download","webViewLink":"https://drive.google.com/file/d/12cINjQLX8QodjAjeYvL536-8W0HBw2u1/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"createdTime":"2025-09-02T09:07:06.752Z","modifiedTime":"2025-09-02T09:07:07.417Z","modifiedByMeTime":"2025-09-02T09:07:07.417Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXVudVbV5e61Qf-T1NP5OIEku-nNaoAYaxtShj2r2eQEiyqwsrTSCXA18Y1-C6SKQw2Qv_2eZJCT9IaPZSdYSSb7rqJ28hBhIuPOolkR8q1rHXV8VI3d1lUhIniBvjvqMLfUTmp-MMvVzebBw7kv9Kj4QESIP34R_gJfiWYe9o3Kipz89wvIAerGKd1Wgj4DgBq9wEyFKu8qzFt6hCFIHbZWwfBlkv-wVELJBluBJ48TD_EUzp1lpYqlWmxJI7Osmn-1s0exA8bjmwenPrhvMAbA9ISZXe8WMTQz3ygFNWAbEMmf2Pfi67eVUc6hwF9TdO4Ys_EHIYUtHPb1b2E-SyYNpRDHaY5BsTzm97jJpAO7Y5d20XjbPbg7DrRQbkG5UpC3jiP_ddSeQ0QsWE1TFz3YD4SZTnJE61vGK95b9V0Olp4M-hgJycFvtHeXrRUoGF8rbSU7G4AM8pMtCaakby3Mr0_3ilyfj-WdwsUaQdbFbZem2kjna4FCrLtunym-tIaUs9fr_PraXDsxu7VB9TPtQycMx-5rFWEuT43v5fkPr7PAgneTYKKAg9v0PClMGk-hb_b8n5h1CMaCfY8h9ehTFZlu7f7JehzRq8TECR-A1wgr_tcN53vCbdAB2IBXrTVW0kMUrxx06AmXq-ptFuy84x6BKQQyMVcsybC8-h0e6qO_zoUFdWe_vQc60Z0ZZnN0ve-OmDimQpMYzSTtUNqXfrLZ3hxmyEhvS8Ysc4wZkwV9VAWWM25EiWVFc-b1Ztcr-5-wxEEj15X0-2tTZeIK1alw83IPqgyzQF7TVO-RF_cvzeQC0wcZ1558vrU70Azxhe0asAuO7nMy3GEJ9qdUVSig6pOdD2BGwfmoYThrJ0dzG_qAoO4J2QFXHPwE6D65QwUz7S6iCqzXvFgWsi3ZS7RW6zgy1EkNOtrVJYnOiDwQ7bfdZsNWesSMVyCSI8WKDWinhMgdWA66WNNdOj1l2qA=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXVudVbV5e61Qf-T1NP5OIEku-nNaoAYaxtShj2r2eQEiyqwsrTSCXA18Y1-C6SKQw2Qv_2eZJCT9IaPZSdYSSb7rqJ28hBhIuPOolkR8q1rHXV8VI3d1lUhIniBvjvqMLfUTmp-MMvVzebBw7kv9Kj4QESIP34R_gJfiWYe9o3Kipz89wvIAerGKd1Wgj4DgBq9wEyFKu8qzFt6hCFIHbZWwfBlkv-wVELJBluBJ48TD_EUzp1lpYqlWmxJI7Osmn-1s0exA8bjmwenPrhvMAbA9ISZXe8WMTQz3ygFNWAbEMmf2Pfi67eVUc6hwF9TdO4Ys_EHIYUtHPb1b2E-SyYNpRDHaY5BsTzm97jJpAO7Y5d20XjbPbg7DrRQbkG5UpC3jiP_ddSeQ0QsWE1TFz3YD4SZTnJE61vGK95b9V0Olp4M-hgJycFvtHeXrRUoGF8rbSU7G4AM8pMtCaakby3Mr0_3ilyfj-WdwsUaQdbFbZem2kjna4FCrLtunym-tIaUs9fr_PraXDsxu7VB9TPtQycMx-5rFWEuT43v5fkPr7PAgneTYKKAg9v0PClMGk-hb_b8n5h1CMaCfY8h9ehTFZlu7f7JehzRq8TECR-A1wgr_tcN53vCbdAB2IBXrTVW0kMUrxx06AmXq-ptFuy84x6BKQQyMVcsybC8-h0e6qO_zoUFdWe_vQc60Z0ZZnN0ve-OmDimQpMYzSTtUNqXfrLZ3hxmyEhvS8Ysc4wZkwV9VAWWM25EiWVFc-b1Ztcr-5-wxEEj15X0-2tTZeIK1alw83IPqgyzQF7TVO-RF_cvzeQC0wcZ1558vrU70Azxhe0asAuO7nMy3GEJ9qdUVSig6pOdD2BGwfmoYThrJ0dzG_qAoO4J2QFXHPwE6D65QwUz7S6iCqzXvFgWsi3ZS7RW6zgy1EkNOtrVJYnOiDwQ7bfdZsNWesSMVyCSI8WKDWinhMgdWA66WNNdOj1l2qA=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"6b5d7268cdddff88b3131f09d9538490","sha1Checksum":"e42b2a517e6377bbb81d790433a41751a6082b64","sha256Checksum":"4ab12e32ac0a96bec86478538b667aa18d6542e780758f64b20379415b3198da","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqUjdOa2ZUdkw4N3h4ZlR1dTdxWjhUbkRwSzdJPQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}},{"json":{"kind":"drive#file","id":"1-eTY7bqEjwRIHVrSXgVNqWhiXA2V0iAf","name":"3753db19d532413dad2c6249c43276f6.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1-eTY7bqEjwRIHVrSXgVNqWhiXA2V0iAf&export=download","webViewLink":"https://drive.google.com/file/d/1-eTY7bqEjwRIHVrSXgVNqWhiXA2V0iAf/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"createdTime":"2025-09-02T09:07:08.772Z","modifiedTime":"2025-09-02T09:07:09.317Z","modifiedByMeTime":"2025-09-02T09:07:09.317Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUyr77tuoU1KWoZLBkNnDn-1rCK_ksB_iITYefJI-91xg1MZHJCKYWW3DaY6n_VjqrcTKLzGFlDWWw1bXuGRhcm6nnnujIGzXryyNiRGTFUIAficRuMPUcE8OCjEJBjmXSwixn1Dm2ZpqZcW7l76xifXsRq8VTZOeMd8yN8Xq5FAFjYIhmP7z3_OE72NAvOyYXWiPJhuAw85-lPo-fzA_cVuzoXI0mHHghIHbJx84otxsWBzVtRgs4VSf95lSP9iBxQw-NdftZrrZmBlnIOaUK5vfH2xaxR9m-w_A4t1v38r-PVhNBbY-EPXwgyMCgO4ZYGpU9Qod0OTgwQCNsPTIOQmeiBAXTAeQwhqURqq5mKY385wp9S5TrBfcgPZ6ICaCjVfBd-CbRxEp6zfNszhCgpkQJlvuq7KYIq-OQKTxHPFx2RUgfpAS5uzH-kIscxxquTbfuY-1QWjq66uj5TbjReMi-TrqI8mTYXs3MIvxQbXJtaLMLtRcXgmTEgUpEawObrhUsMEgJEVwi06xJven-0U30ORyczUaoByGS4VQl9Xj_07HKolH09UDJk9EQ8OMpV7KUsBKUhW_7ZMp4ugMpO12UtTFp0xkrH3eDKKOvrZgq50EtK8Ycqdj3Ck0svEtsxYCvqXVcdW2AtDFYBKvt32I6vZmQKzBWm_braHeTPFBwhRzn1MKfT_rwaKLDd-G5I_QxGwwROFNlyb1yRTPgA_BdXu3hPy7tBCrUaorxBTOInA5spW0k2vblESUeCeHjygg_NaXlhHZH4IPfLeL_S7JufPIzGfmohWBndBEnT3X9gsKDY1kKmq_4i4kIkCFWojtuLthZ1UEqps7kPCM8PjKzIbu8Tp_ydgyX3UFEiyGZIls2SlE1ngT9QHbUSurHgB8y0qW77qMHT0E-tr7hL71Vqp8DM1f9Opv80Av6WxiiQUMD-Aw4XrJdRYKC-2PeH5QPC0AgC9eyJCv7XSF9J1EFi=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUyr77tuoU1KWoZLBkNnDn-1rCK_ksB_iITYefJI-91xg1MZHJCKYWW3DaY6n_VjqrcTKLzGFlDWWw1bXuGRhcm6nnnujIGzXryyNiRGTFUIAficRuMPUcE8OCjEJBjmXSwixn1Dm2ZpqZcW7l76xifXsRq8VTZOeMd8yN8Xq5FAFjYIhmP7z3_OE72NAvOyYXWiPJhuAw85-lPo-fzA_cVuzoXI0mHHghIHbJx84otxsWBzVtRgs4VSf95lSP9iBxQw-NdftZrrZmBlnIOaUK5vfH2xaxR9m-w_A4t1v38r-PVhNBbY-EPXwgyMCgO4ZYGpU9Qod0OTgwQCNsPTIOQmeiBAXTAeQwhqURqq5mKY385wp9S5TrBfcgPZ6ICaCjVfBd-CbRxEp6zfNszhCgpkQJlvuq7KYIq-OQKTxHPFx2RUgfpAS5uzH-kIscxxquTbfuY-1QWjq66uj5TbjReMi-TrqI8mTYXs3MIvxQbXJtaLMLtRcXgmTEgUpEawObrhUsMEgJEVwi06xJven-0U30ORyczUaoByGS4VQl9Xj_07HKolH09UDJk9EQ8OMpV7KUsBKUhW_7ZMp4ugMpO12UtTFp0xkrH3eDKKOvrZgq50EtK8Ycqdj3Ck0svEtsxYCvqXVcdW2AtDFYBKvt32I6vZmQKzBWm_braHeTPFBwhRzn1MKfT_rwaKLDd-G5I_QxGwwROFNlyb1yRTPgA_BdXu3hPy7tBCrUaorxBTOInA5spW0k2vblESUeCeHjygg_NaXlhHZH4IPfLeL_S7JufPIzGfmohWBndBEnT3X9gsKDY1kKmq_4i4kIkCFWojtuLthZ1UEqps7kPCM8PjKzIbu8Tp_ydgyX3UFEiyGZIls2SlE1ngT9QHbUSurHgB8y0qW77qMHT0E-tr7hL71Vqp8DM1f9Opv80Av6WxiiQUMD-Aw4XrJdRYKC-2PeH5QPC0AgC9eyJCv7XSF9J1EFi=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"70495bbecedbcc145fe93acb85103929","sha1Checksum":"d679ebc3c50f93aa08596936a510fe73449719e7","sha256Checksum":"ecb297fb46da1dab8e23875caa5be432d927a8d8428db708192b3d39e2364cdd","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqZ255T0IzUldCU2RlWEowcUZuWkljUEJmZHM0PQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}}],"Fusion des Données":[{"json":{"id":"anyone","createdTime":"2025-09-02T09:07:02.896Z","fields":{"ID":75,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/83f2e6f50fe046feaca9d5aeb9ea3c45/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/83f2e6f50fe046feaca9d5aeb9ea3c45/1.mp4","ID Requette":"83f2e6f50fe046feaca9d5aeb9ea3c45"},"kind":"drive#permission","name":"83f2e6f50fe046feaca9d5aeb9ea3c45.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1fOZiHMK1c_22zVvAmFU-ML9bYSFmAXw0&export=download","webViewLink":"https://drive.google.com/file/d/1fOZiHMK1c_22zVvAmFU-ML9bYSFmAXw0/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"modifiedTime":"2025-09-02T09:07:03.719Z","modifiedByMeTime":"2025-09-02T09:07:03.719Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWpHPI6g-HFHyGO3Ret-xQLiZ2ujWLOrbGzDWlWYkyBM-2m7-M3A3HIzyR-TaRNmU_HUG-IAIywxaQhJPs4AbxAvOitrVuzJpttlEpbtw-xoFOIJPAg88Q8yRAqcqN1N5bLr7ntfyQvr6MLIG-9xS36CHkngQASjQaLLUcfnHYdk67Gq48Nn2dXNm2Gw4dRHVqc6kw7LxMlq9uZ0Dy4ccJO30SteFHJA718GFNVkIKMHXEYOMi8pogsBMFqp_J0Ni_5TF6SD8deTnquvRTEEn13mAMb0O7NtJ4TGR2kNxwk9xvOccSJgV0421S0P43u_bxgRN7znv-UD0I8vesCzmUtSBlh3hQurW2ExvyA5agV8qnUcV6uwgelXmnjucVKxdi2i-_8EgdHVOKY-10-5sMT0o4xqUtxPHLMZ_SOnmFkEh2rhklEizn0l0hMY9vLEuwLtbjNzWeqjH-_ZIkKYm8XF9Nci6DSdXYGWdxwLg-2JeO1sL_fhVVNxwxOx584Dpt2sxlL7NcCLyG-98b6N7MNJPtsd4EBytpmwE_yuMFLy2QAkPjxfkoRz8wr1rkgoDdAaWjze5uzjBX6-ULn4TTCw5mkrTi_w0Tjk77b2uSNEqDqCz72CaBqUOT6WsqHhO_W264RD8Wsx6LV_pytBjocYNgnaec5GLvevQGRpazIWySTdYI7NA1QWPBiqfse9h-f9NQ1ow30yJ7xNMXzuDp_8ZL6bV5G59TC4gWkrN53mwASis4v4aevcNjYMaWuUQgS7Ymn5SPceYTllfX5ycbaLa39E6hmefTB9X7_0snbA1Wkr71IF7mDOF-tjTDIPS3AUItSUWtfuetfejTNlIgQu3J1OWg689Xu3rZrYoeGjw7MVn2URG1HdjroHTGlOfXwk6icfmQoLdPOsrXIuGIo233CRLF8fyR6o5_eFQ1jT_zXNvzrGHELdyzUfnq1pDvTJWRcBencX7OQPai-piK1Iw=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWpHPI6g-HFHyGO3Ret-xQLiZ2ujWLOrbGzDWlWYkyBM-2m7-M3A3HIzyR-TaRNmU_HUG-IAIywxaQhJPs4AbxAvOitrVuzJpttlEpbtw-xoFOIJPAg88Q8yRAqcqN1N5bLr7ntfyQvr6MLIG-9xS36CHkngQASjQaLLUcfnHYdk67Gq48Nn2dXNm2Gw4dRHVqc6kw7LxMlq9uZ0Dy4ccJO30SteFHJA718GFNVkIKMHXEYOMi8pogsBMFqp_J0Ni_5TF6SD8deTnquvRTEEn13mAMb0O7NtJ4TGR2kNxwk9xvOccSJgV0421S0P43u_bxgRN7znv-UD0I8vesCzmUtSBlh3hQurW2ExvyA5agV8qnUcV6uwgelXmnjucVKxdi2i-_8EgdHVOKY-10-5sMT0o4xqUtxPHLMZ_SOnmFkEh2rhklEizn0l0hMY9vLEuwLtbjNzWeqjH-_ZIkKYm8XF9Nci6DSdXYGWdxwLg-2JeO1sL_fhVVNxwxOx584Dpt2sxlL7NcCLyG-98b6N7MNJPtsd4EBytpmwE_yuMFLy2QAkPjxfkoRz8wr1rkgoDdAaWjze5uzjBX6-ULn4TTCw5mkrTi_w0Tjk77b2uSNEqDqCz72CaBqUOT6WsqHhO_W264RD8Wsx6LV_pytBjocYNgnaec5GLvevQGRpazIWySTdYI7NA1QWPBiqfse9h-f9NQ1ow30yJ7xNMXzuDp_8ZL6bV5G59TC4gWkrN53mwASis4v4aevcNjYMaWuUQgS7Ymn5SPceYTllfX5ycbaLa39E6hmefTB9X7_0snbA1Wkr71IF7mDOF-tjTDIPS3AUItSUWtfuetfejTNlIgQu3J1OWg689Xu3rZrYoeGjw7MVn2URG1HdjroHTGlOfXwk6icfmQoLdPOsrXIuGIo233CRLF8fyR6o5_eFQ1jT_zXNvzrGHELdyzUfnq1pDvTJWRcBencX7OQPai-piK1Iw=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"28b79d8dc628932600bbe11b94c893ef","sha1Checksum":"09369affbfaa6add8552d5ffdb5dcfbc156a0f73","sha256Checksum":"ae7370ef45e8cff1ada1445cc0ccb8fd840649029a1d899b84be53c1f8f4417d","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqQU5kaWJDYWFaNXduY1lCaVo5SllZQ2p1RFQ4PQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false,"type":"anyone","role":"reader","allowFileDiscovery":true}},{"json":{"id":"anyone","createdTime":"2025-09-02T09:07:04.996Z","fields":{"ID":76,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/22307ef71eb04525a7ee3b5b352bfe72/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/22307ef71eb04525a7ee3b5b352bfe72/1.mp4","ID Requette":"22307ef71eb04525a7ee3b5b352bfe72"},"kind":"drive#permission","name":"22307ef71eb04525a7ee3b5b352bfe72.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1O8kdga7qQqVRTTwRLTaicQJIjOP_curT&export=download","webViewLink":"https://drive.google.com/file/d/1O8kdga7qQqVRTTwRLTaicQJIjOP_curT/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"modifiedTime":"2025-09-02T09:07:05.506Z","modifiedByMeTime":"2025-09-02T09:07:05.506Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWLsFZhcFo7qK_j-hg4Q62rj9HJxoDVKBRfWQTLyABRTfv9TLsqTjuJ-a0tKfWKBLhuhu4eSwrWskU-9xSI0xUM7_dR6RAgIPUY8XjD0IODqAOMOykj3LwmwO-48tatI03FGjIsOhtbj0KRNVJg5t5--DlYOA5nocjDhoTcnOXynF5HxjC9CfhDhLyAwzz73HzMKJFTv7t07VAk6Yrcx52ehT-kFwPOJzbZqndRzFa2GXZEqN-j-IiE7GM3Q-WVPTJycVWSH6qjIBMeTSt9FL2Hh0FLEdHjHd5yoYApK7Agqy1TFl02RZyBU6APj-xujUBg2r6gHvsElEj1qSTJr5VQxvZW9wlv7orTE2qnawRkflgH_tccLamDWwApAdX77BLkeSEuyxAvESbG2aKuHysTjl212driIkQzTmkMBDY4KBSYBM-HrbLrGR9-QtLI8PzQYmYIak295WK5UxmhGsAZv0CiKbW2i88hBfJ2HF-jugtyiMPV7IeeMC4eAOP3LxAOhsa71L-8Jhk7I52cmk98-yPLxDr14eE_U1twIkRWvEwp7hZoyHk3olrO_HYV13wdmNBaGWSpBIPrlU-o9IZ2Q5LoeNATH-yR93YKuS5vypd6AkQ2pSr8VPBCjpjWrum55vEy1YoY-RCl9E2DA1VhZiwXrXd-1egayE-8ZuKb49IjbcHfOsgpvGXwYGzyKvAB8-lSa8avfHq5-iqQZk344UDtwI5C65-orCzqUKzYRuYPxtISOcx7QBQJGTrE_i0Vt5UHnxUqiDoogPfaWCgbClJFUsIcjHzoVP0xqRY0rNGp0rxCJeJpeC-tAy7XtuJkJVIMnV8bWrOPac4lfEwvWU-uAvB7vIMFiQPIIUL89KONyXpRri0kfiqNQtEJjJ5XNkTj78ZgznBzcHhAGTkiFJ0oWPNQMl88yqdtUOoVZ-wFjzgZE90VTX8gPy6L-ubmTO1i_D8Uuw7tJh75p9x7aoNv=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWLsFZhcFo7qK_j-hg4Q62rj9HJxoDVKBRfWQTLyABRTfv9TLsqTjuJ-a0tKfWKBLhuhu4eSwrWskU-9xSI0xUM7_dR6RAgIPUY8XjD0IODqAOMOykj3LwmwO-48tatI03FGjIsOhtbj0KRNVJg5t5--DlYOA5nocjDhoTcnOXynF5HxjC9CfhDhLyAwzz73HzMKJFTv7t07VAk6Yrcx52ehT-kFwPOJzbZqndRzFa2GXZEqN-j-IiE7GM3Q-WVPTJycVWSH6qjIBMeTSt9FL2Hh0FLEdHjHd5yoYApK7Agqy1TFl02RZyBU6APj-xujUBg2r6gHvsElEj1qSTJr5VQxvZW9wlv7orTE2qnawRkflgH_tccLamDWwApAdX77BLkeSEuyxAvESbG2aKuHysTjl212driIkQzTmkMBDY4KBSYBM-HrbLrGR9-QtLI8PzQYmYIak295WK5UxmhGsAZv0CiKbW2i88hBfJ2HF-jugtyiMPV7IeeMC4eAOP3LxAOhsa71L-8Jhk7I52cmk98-yPLxDr14eE_U1twIkRWvEwp7hZoyHk3olrO_HYV13wdmNBaGWSpBIPrlU-o9IZ2Q5LoeNATH-yR93YKuS5vypd6AkQ2pSr8VPBCjpjWrum55vEy1YoY-RCl9E2DA1VhZiwXrXd-1egayE-8ZuKb49IjbcHfOsgpvGXwYGzyKvAB8-lSa8avfHq5-iqQZk344UDtwI5C65-orCzqUKzYRuYPxtISOcx7QBQJGTrE_i0Vt5UHnxUqiDoogPfaWCgbClJFUsIcjHzoVP0xqRY0rNGp0rxCJeJpeC-tAy7XtuJkJVIMnV8bWrOPac4lfEwvWU-uAvB7vIMFiQPIIUL89KONyXpRri0kfiqNQtEJjJ5XNkTj78ZgznBzcHhAGTkiFJ0oWPNQMl88yqdtUOoVZ-wFjzgZE90VTX8gPy6L-ubmTO1i_D8Uuw7tJh75p9x7aoNv=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"866c6117d2b4ad6c1549f41fbc14a815","sha1Checksum":"4abfe99e4f232994c12efc3970a3b43c85847db0","sha256Checksum":"8e5d9a1d0a57849741e905f35a74bcb67e903c5598534764d7586fefe83eeef8","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqMjk3RityQmhDTks4TjBnc0FiRjNHZzFwRzVBPQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false,"type":"anyone","role":"reader","allowFileDiscovery":true}},{"json":{"id":"anyone","createdTime":"2025-09-02T09:07:06.752Z","fields":{"ID":77,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/7dc382158c77491c9017796a484dd3ce/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/7dc382158c77491c9017796a484dd3ce/1.mp4","ID Requette":"7dc382158c77491c9017796a484dd3ce"},"kind":"drive#permission","name":"7dc382158c77491c9017796a484dd3ce.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=12cINjQLX8QodjAjeYvL536-8W0HBw2u1&export=download","webViewLink":"https://drive.google.com/file/d/12cINjQLX8QodjAjeYvL536-8W0HBw2u1/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"modifiedTime":"2025-09-02T09:07:07.417Z","modifiedByMeTime":"2025-09-02T09:07:07.417Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXVudVbV5e61Qf-T1NP5OIEku-nNaoAYaxtShj2r2eQEiyqwsrTSCXA18Y1-C6SKQw2Qv_2eZJCT9IaPZSdYSSb7rqJ28hBhIuPOolkR8q1rHXV8VI3d1lUhIniBvjvqMLfUTmp-MMvVzebBw7kv9Kj4QESIP34R_gJfiWYe9o3Kipz89wvIAerGKd1Wgj4DgBq9wEyFKu8qzFt6hCFIHbZWwfBlkv-wVELJBluBJ48TD_EUzp1lpYqlWmxJI7Osmn-1s0exA8bjmwenPrhvMAbA9ISZXe8WMTQz3ygFNWAbEMmf2Pfi67eVUc6hwF9TdO4Ys_EHIYUtHPb1b2E-SyYNpRDHaY5BsTzm97jJpAO7Y5d20XjbPbg7DrRQbkG5UpC3jiP_ddSeQ0QsWE1TFz3YD4SZTnJE61vGK95b9V0Olp4M-hgJycFvtHeXrRUoGF8rbSU7G4AM8pMtCaakby3Mr0_3ilyfj-WdwsUaQdbFbZem2kjna4FCrLtunym-tIaUs9fr_PraXDsxu7VB9TPtQycMx-5rFWEuT43v5fkPr7PAgneTYKKAg9v0PClMGk-hb_b8n5h1CMaCfY8h9ehTFZlu7f7JehzRq8TECR-A1wgr_tcN53vCbdAB2IBXrTVW0kMUrxx06AmXq-ptFuy84x6BKQQyMVcsybC8-h0e6qO_zoUFdWe_vQc60Z0ZZnN0ve-OmDimQpMYzSTtUNqXfrLZ3hxmyEhvS8Ysc4wZkwV9VAWWM25EiWVFc-b1Ztcr-5-wxEEj15X0-2tTZeIK1alw83IPqgyzQF7TVO-RF_cvzeQC0wcZ1558vrU70Azxhe0asAuO7nMy3GEJ9qdUVSig6pOdD2BGwfmoYThrJ0dzG_qAoO4J2QFXHPwE6D65QwUz7S6iCqzXvFgWsi3ZS7RW6zgy1EkNOtrVJYnOiDwQ7bfdZsNWesSMVyCSI8WKDWinhMgdWA66WNNdOj1l2qA=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXVudVbV5e61Qf-T1NP5OIEku-nNaoAYaxtShj2r2eQEiyqwsrTSCXA18Y1-C6SKQw2Qv_2eZJCT9IaPZSdYSSb7rqJ28hBhIuPOolkR8q1rHXV8VI3d1lUhIniBvjvqMLfUTmp-MMvVzebBw7kv9Kj4QESIP34R_gJfiWYe9o3Kipz89wvIAerGKd1Wgj4DgBq9wEyFKu8qzFt6hCFIHbZWwfBlkv-wVELJBluBJ48TD_EUzp1lpYqlWmxJI7Osmn-1s0exA8bjmwenPrhvMAbA9ISZXe8WMTQz3ygFNWAbEMmf2Pfi67eVUc6hwF9TdO4Ys_EHIYUtHPb1b2E-SyYNpRDHaY5BsTzm97jJpAO7Y5d20XjbPbg7DrRQbkG5UpC3jiP_ddSeQ0QsWE1TFz3YD4SZTnJE61vGK95b9V0Olp4M-hgJycFvtHeXrRUoGF8rbSU7G4AM8pMtCaakby3Mr0_3ilyfj-WdwsUaQdbFbZem2kjna4FCrLtunym-tIaUs9fr_PraXDsxu7VB9TPtQycMx-5rFWEuT43v5fkPr7PAgneTYKKAg9v0PClMGk-hb_b8n5h1CMaCfY8h9ehTFZlu7f7JehzRq8TECR-A1wgr_tcN53vCbdAB2IBXrTVW0kMUrxx06AmXq-ptFuy84x6BKQQyMVcsybC8-h0e6qO_zoUFdWe_vQc60Z0ZZnN0ve-OmDimQpMYzSTtUNqXfrLZ3hxmyEhvS8Ysc4wZkwV9VAWWM25EiWVFc-b1Ztcr-5-wxEEj15X0-2tTZeIK1alw83IPqgyzQF7TVO-RF_cvzeQC0wcZ1558vrU70Azxhe0asAuO7nMy3GEJ9qdUVSig6pOdD2BGwfmoYThrJ0dzG_qAoO4J2QFXHPwE6D65QwUz7S6iCqzXvFgWsi3ZS7RW6zgy1EkNOtrVJYnOiDwQ7bfdZsNWesSMVyCSI8WKDWinhMgdWA66WNNdOj1l2qA=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"6b5d7268cdddff88b3131f09d9538490","sha1Checksum":"e42b2a517e6377bbb81d790433a41751a6082b64","sha256Checksum":"4ab12e32ac0a96bec86478538b667aa18d6542e780758f64b20379415b3198da","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqUjdOa2ZUdkw4N3h4ZlR1dTdxWjhUbkRwSzdJPQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false,"type":"anyone","role":"reader","allowFileDiscovery":true}},{"json":{"id":"anyone","createdTime":"2025-09-02T09:07:08.772Z","fields":{"ID":78,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/3753db19d532413dad2c6249c43276f6/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/3753db19d532413dad2c6249c43276f6/1.mp4","ID Requette":"3753db19d532413dad2c6249c43276f6"},"kind":"drive#permission","name":"3753db19d532413dad2c6249c43276f6.mp3","mimeType":"audio/mpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1-eTY7bqEjwRIHVrSXgVNqWhiXA2V0iAf&export=download","webViewLink":"https://drive.google.com/file/d/1-eTY7bqEjwRIHVrSXgVNqWhiXA2V0iAf/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/mpeg","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"modifiedTime":"2025-09-02T09:07:09.317Z","modifiedByMeTime":"2025-09-02T09:07:09.317Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUyr77tuoU1KWoZLBkNnDn-1rCK_ksB_iITYefJI-91xg1MZHJCKYWW3DaY6n_VjqrcTKLzGFlDWWw1bXuGRhcm6nnnujIGzXryyNiRGTFUIAficRuMPUcE8OCjEJBjmXSwixn1Dm2ZpqZcW7l76xifXsRq8VTZOeMd8yN8Xq5FAFjYIhmP7z3_OE72NAvOyYXWiPJhuAw85-lPo-fzA_cVuzoXI0mHHghIHbJx84otxsWBzVtRgs4VSf95lSP9iBxQw-NdftZrrZmBlnIOaUK5vfH2xaxR9m-w_A4t1v38r-PVhNBbY-EPXwgyMCgO4ZYGpU9Qod0OTgwQCNsPTIOQmeiBAXTAeQwhqURqq5mKY385wp9S5TrBfcgPZ6ICaCjVfBd-CbRxEp6zfNszhCgpkQJlvuq7KYIq-OQKTxHPFx2RUgfpAS5uzH-kIscxxquTbfuY-1QWjq66uj5TbjReMi-TrqI8mTYXs3MIvxQbXJtaLMLtRcXgmTEgUpEawObrhUsMEgJEVwi06xJven-0U30ORyczUaoByGS4VQl9Xj_07HKolH09UDJk9EQ8OMpV7KUsBKUhW_7ZMp4ugMpO12UtTFp0xkrH3eDKKOvrZgq50EtK8Ycqdj3Ck0svEtsxYCvqXVcdW2AtDFYBKvt32I6vZmQKzBWm_braHeTPFBwhRzn1MKfT_rwaKLDd-G5I_QxGwwROFNlyb1yRTPgA_BdXu3hPy7tBCrUaorxBTOInA5spW0k2vblESUeCeHjygg_NaXlhHZH4IPfLeL_S7JufPIzGfmohWBndBEnT3X9gsKDY1kKmq_4i4kIkCFWojtuLthZ1UEqps7kPCM8PjKzIbu8Tp_ydgyX3UFEiyGZIls2SlE1ngT9QHbUSurHgB8y0qW77qMHT0E-tr7hL71Vqp8DM1f9Opv80Av6WxiiQUMD-Aw4XrJdRYKC-2PeH5QPC0AgC9eyJCv7XSF9J1EFi=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Azuro Admin","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUyr77tuoU1KWoZLBkNnDn-1rCK_ksB_iITYefJI-91xg1MZHJCKYWW3DaY6n_VjqrcTKLzGFlDWWw1bXuGRhcm6nnnujIGzXryyNiRGTFUIAficRuMPUcE8OCjEJBjmXSwixn1Dm2ZpqZcW7l76xifXsRq8VTZOeMd8yN8Xq5FAFjYIhmP7z3_OE72NAvOyYXWiPJhuAw85-lPo-fzA_cVuzoXI0mHHghIHbJx84otxsWBzVtRgs4VSf95lSP9iBxQw-NdftZrrZmBlnIOaUK5vfH2xaxR9m-w_A4t1v38r-PVhNBbY-EPXwgyMCgO4ZYGpU9Qod0OTgwQCNsPTIOQmeiBAXTAeQwhqURqq5mKY385wp9S5TrBfcgPZ6ICaCjVfBd-CbRxEp6zfNszhCgpkQJlvuq7KYIq-OQKTxHPFx2RUgfpAS5uzH-kIscxxquTbfuY-1QWjq66uj5TbjReMi-TrqI8mTYXs3MIvxQbXJtaLMLtRcXgmTEgUpEawObrhUsMEgJEVwi06xJven-0U30ORyczUaoByGS4VQl9Xj_07HKolH09UDJk9EQ8OMpV7KUsBKUhW_7ZMp4ugMpO12UtTFp0xkrH3eDKKOvrZgq50EtK8Ycqdj3Ck0svEtsxYCvqXVcdW2AtDFYBKvt32I6vZmQKzBWm_braHeTPFBwhRzn1MKfT_rwaKLDd-G5I_QxGwwROFNlyb1yRTPgA_BdXu3hPy7tBCrUaorxBTOInA5spW0k2vblESUeCeHjygg_NaXlhHZH4IPfLeL_S7JufPIzGfmohWBndBEnT3X9gsKDY1kKmq_4i4kIkCFWojtuLthZ1UEqps7kPCM8PjKzIbu8Tp_ydgyX3UFEiyGZIls2SlE1ngT9QHbUSurHgB8y0qW77qMHT0E-tr7hL71Vqp8DM1f9Opv80Av6WxiiQUMD-Aw4XrJdRYKC-2PeH5QPC0AgC9eyJCv7XSF9J1EFi=s64","me":true,"permissionId":"16339092664818976978","emailAddress":"admin@azuro-ai.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"16339092664818976978","type":"user","emailAddress":"admin@azuro-ai.com","role":"owner","displayName":"admin","deleted":false,"pendingOwner":false}],"permissionIds":["16339092664818976978"],"originalFilename":"Untitled","fullFileExtension":"mp3","fileExtension":"mp3","md5Checksum":"70495bbecedbcc145fe93acb85103929","sha1Checksum":"d679ebc3c50f93aa08596936a510fe73449719e7","sha256Checksum":"ecb297fb46da1dab8e23875caa5be432d927a8d8428db708192b3d39e2364cdd","size":"80711","quotaBytesUsed":"80711","headRevisionId":"0B7BrHJKXmkVqZ255T0IzUldCU2RlWEowcUZuWkljUEJmZHM0PQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false,"type":"anyone","role":"reader","allowFileDiscovery":true}}],"Demande de Rendu Vidéo":[{"json":{"id":"e5b51b4f-5592-4276-bc59-fe3a2f5cb6fe","status":"planned","url":"https://f002.backblazeb2.com/file/creatomate-c8xg3hsxdu/e5b51b4f-5592-4276-bc59-fe3a2f5cb6fe.mp4","template_id":"b671d213-c388-4390-8180-a4dd31b7aa9b","template_name":"AGENT IA MARKETING ","template_tags":[],"output_format":"mp4","modifications":{"Video-1.source":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/83f2e6f50fe046feaca9d5aeb9ea3c45/1.mp4","Video-2.source":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/22307ef71eb04525a7ee3b5b352bfe72/1.mp4","Video-3.source":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/7dc382158c77491c9017796a484dd3ce/1.mp4","Video-4.source":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/3753db19d532413dad2c6249c43276f6/1.mp4","Audio-1.source":"https://drive.google.com/file/d/1fOZiHMK1c_22zVvAmFU-ML9bYSFmAXw0/view?usp=drivesdk","Audio-2.source":"https://drive.google.com/file/d/1O8kdga7qQqVRTTwRLTaicQJIjOP_curT/view?usp=drivesdk","Audio-3.source":"https://drive.google.com/file/d/12cINjQLX8QodjAjeYvL536-8W0HBw2u1/view?usp=drivesdk","Audio-4.source":"https://drive.google.com/file/d/1-eTY7bqEjwRIHVrSXgVNqWhiXA2V0iAf/view?usp=drivesdk"}}}],"Exécution de Code Personnalisé":[{"json":{"groupedLinks":[{"link":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/83f2e6f50fe046feaca9d5aeb9ea3c45/1.mp4","weblink":"https://drive.google.com/file/d/1fOZiHMK1c_22zVvAmFU-ML9bYSFmAXw0/view?usp=drivesdk"},{"link":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/22307ef71eb04525a7ee3b5b352bfe72/1.mp4","weblink":"https://drive.google.com/file/d/1O8kdga7qQqVRTTwRLTaicQJIjOP_curT/view?usp=drivesdk"},{"link":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/7dc382158c77491c9017796a484dd3ce/1.mp4","weblink":"https://drive.google.com/file/d/12cINjQLX8QodjAjeYvL536-8W0HBw2u1/view?usp=drivesdk"},{"link":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/3753db19d532413dad2c6249c43276f6/1.mp4","weblink":"https://drive.google.com/file/d/1-eTY7bqEjwRIHVrSXgVNqWhiXA2V0iAf/view?usp=drivesdk"}]}}],"Partage de Fichier Google Drive":[{"json":{"kind":"drive#permission","id":"anyone","type":"anyone","role":"reader","allowFileDiscovery":true}},{"json":{"kind":"drive#permission","id":"anyone","type":"anyone","role":"reader","allowFileDiscovery":true}},{"json":{"kind":"drive#permission","id":"anyone","type":"anyone","role":"reader","allowFileDiscovery":true}},{"json":{"kind":"drive#permission","id":"anyone","type":"anyone","role":"reader","allowFileDiscovery":true}}],"Création de Scénario Vidéo":[{"json":{"output":{"Part 1":"Vue subjective depuis vos yeux, regardant vers un MacBook Pro argenté ouvert sur une table en bois patiné d'un café parisien authentique, vos mains aux ongles soignés tapant sur le clavier rétroéclairé, écran affichant un éditeur de code sombre avec des lignes de JavaScript colorées en syntaxe verte et bleue, une tasse de café au lait fumante à côté avec motif en forme de cœur dans la mousse, lumière dorée du matin filtrant à travers de grandes fenêtres françaises, reflets subtils sur l'écran, atmosphère chaleureuse et concentrée","Part 2":"Même perspective subjective, vos mains continuent de coder sur le MacBook Pro argenté, l'écran montre maintenant plusieurs onglets ouverts avec du code complexe, fonctions et variables défilant, votre tasse de café maintenant à moitié vide, quelques miettes de croissant sur une petite assiette blanche à côté, serveur parisien en tablier noir passant flou en arrière-plan, sons feutrés du café, concentration intense visible par la proximité de vos mains du clavier, lumière naturelle plus vive indiquant la progression matinale","Part 3":"Point de vue inchangé, vos mains expertes naviguent entre le trackpad et le clavier du MacBook Pro, écran divisé entre terminal noir avec lignes de commande vertes défilantes et navigateur web testant une application, votre café terminé, tasse vide repoussée légèrement, carnet de notes ouvert à côté avec gribouillis et schémas techniques au stylo bleu, autres clients parisiens travaillant en arrière-plan flou, bruit ambiant du café, moment de debugging intense et méticuleux","Part 4":"Vue subjective finale, vos mains se détendent légèrement au-dessus du MacBook Pro argenté, écran affichant une application web fonctionnelle avec interface utilisateur colorée et réactive, sensation de satisfaction du travail accompli, nouvelle tasse de café fraîchement servie fumant à côté, carnet fermé, stylo rangé, lumière d'après-midi dorée créant une ambiance apaisée dans le café parisien typique, autres développeurs et créatifs autour, atmosphère productive et inspirante de la scène tech parisienne"}}}],"Séparation des Sorties":[{"json":{"output":"Vue subjective depuis vos yeux, regardant vers un MacBook Pro argenté ouvert sur une table en bois patiné d'un café parisien authentique, vos mains aux ongles soignés tapant sur le clavier rétroéclairé, écran affichant un éditeur de code sombre avec des lignes de JavaScript colorées en syntaxe verte et bleue, une tasse de café au lait fumante à côté avec motif en forme de cœur dans la mousse, lumière dorée du matin filtrant à travers de grandes fenêtres françaises, reflets subtils sur l'écran, atmosphère chaleureuse et concentrée"}},{"json":{"output":"Même perspective subjective, vos mains continuent de coder sur le MacBook Pro argenté, l'écran montre maintenant plusieurs onglets ouverts avec du code complexe, fonctions et variables défilant, votre tasse de café maintenant à moitié vide, quelques miettes de croissant sur une petite assiette blanche à côté, serveur parisien en tablier noir passant flou en arrière-plan, sons feutrés du café, concentration intense visible par la proximité de vos mains du clavier, lumière naturelle plus vive indiquant la progression matinale"}},{"json":{"output":"Point de vue inchangé, vos mains expertes naviguent entre le trackpad et le clavier du MacBook Pro, écran divisé entre terminal noir avec lignes de commande vertes défilantes et navigateur web testant une application, votre café terminé, tasse vide repoussée légèrement, carnet de notes ouvert à côté avec gribouillis et schémas techniques au stylo bleu, autres clients parisiens travaillant en arrière-plan flou, bruit ambiant du café, moment de debugging intense et méticuleux"}},{"json":{"output":"Vue subjective finale, vos mains se détendent légèrement au-dessus du MacBook Pro argenté, écran affichant une application web fonctionnelle avec interface utilisateur colorée et réactive, sensation de satisfaction du travail accompli, nouvelle tasse de café fraîchement servie fumant à côté, carnet fermé, stylo rangé, lumière d'après-midi dorée créant une ambiance apaisée dans le café parisien typique, autres développeurs et créatifs autour, atmosphère productive et inspirante de la scène tech parisienne"}}],"Génération d'Image avec Flux":[{"json":{"code":200,"message":"success","data":{"id":"16602d3ff00e45349faaf635599232f4","model":"wavespeed-ai/flux-dev","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/16602d3ff00e45349faaf635599232f4/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:01:47.48Z","error":"","executionTime":0,"timings":{"inference":0}}}},{"json":{"code":200,"message":"success","data":{"id":"d1ec63c18b2340e49072c9509bab3856","model":"wavespeed-ai/flux-dev","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/d1ec63c18b2340e49072c9509bab3856/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:01:47.481Z","error":"","executionTime":0,"timings":{"inference":0}}}},{"json":{"code":200,"message":"success","data":{"id":"f4dac447a49e41a0aca4a40629fc2b1c","model":"wavespeed-ai/flux-dev","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/f4dac447a49e41a0aca4a40629fc2b1c/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:01:47.485Z","error":"","executionTime":0,"timings":{"inference":0}}}},{"json":{"code":200,"message":"success","data":{"id":"7cbf03a1dc154138b25b1bec3e426611","model":"wavespeed-ai/flux-dev","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/7cbf03a1dc154138b25b1bec3e426611/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:01:47.494Z","error":"","executionTime":0,"timings":{"inference":0}}}}],"Exécution de Flux de Travail Secondaire":[{"json":{"id":"rechLGiVo7kDljFMR","createdTime":"2025-09-02T09:01:48.000Z","fields":{"ID":71,"Type":"raw_image","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/16602d3ff00e45349faaf635599232f4/result","Lien":"https://d2p7pge43lyniu.cloudfront.net/output/52a3f46e-16cf-4e43-b7af-0f1d35e58dff-u1_9dff1920-a22b-481d-b996-0aaf40567936.jpeg","ID Requette":"16602d3ff00e45349faaf635599232f4"}}},{"json":{"id":"recRsVD5l9AtiACSX","createdTime":"2025-09-02T09:02:12.000Z","fields":{"ID":72,"Type":"raw_image","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/d1ec63c18b2340e49072c9509bab3856/result","Lien":"https://d2p7pge43lyniu.cloudfront.net/output/39e6c52d-3a9b-4f01-bb2f-dc3cee0b3bef-u2_b4f052f9-e6f2-4840-ac70-c789d46a2828.jpeg","ID Requette":"d1ec63c18b2340e49072c9509bab3856"}}},{"json":{"id":"recoJ4CbWXGhun7PM","createdTime":"2025-09-02T09:02:33.000Z","fields":{"ID":73,"Type":"raw_image","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/f4dac447a49e41a0aca4a40629fc2b1c/result","Lien":"https://d2p7pge43lyniu.cloudfront.net/output/67c6335b-c35b-4ac6-bd16-a56d645a8376-u2_590e1bd0-d2a7-4b30-8324-dbcd831ed72f.jpeg","ID Requette":"f4dac447a49e41a0aca4a40629fc2b1c"}}},{"json":{"id":"recE9jJIfScIBMfhx","createdTime":"2025-09-02T09:03:16.000Z","fields":{"ID":74,"Type":"raw_image","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/7cbf03a1dc154138b25b1bec3e426611/result","Lien":"https://d2p7pge43lyniu.cloudfront.net/output/f2e8c59e-f4fa-4cf4-8324-a3e24c57c6ab-u2_0e71880d-cced-4bfc-9e63-72a4edea072e.jpeg","ID Requette":"7cbf03a1dc154138b25b1bec3e426611"}}}],"Génération de Vidéo avec Kling":[{"json":{"code":200,"message":"success","data":{"id":"83f2e6f50fe046feaca9d5aeb9ea3c45","model":"kwaivgi/kling-v1.6-i2v-standard","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/83f2e6f50fe046feaca9d5aeb9ea3c45/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:03:37.761Z","error":"","executionTime":0,"timings":{"inference":0}}}},{"json":{"code":200,"message":"success","data":{"id":"22307ef71eb04525a7ee3b5b352bfe72","model":"kwaivgi/kling-v1.6-i2v-standard","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/22307ef71eb04525a7ee3b5b352bfe72/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:03:37.764Z","error":"","executionTime":0,"timings":{"inference":0}}}},{"json":{"code":200,"message":"success","data":{"id":"7dc382158c77491c9017796a484dd3ce","model":"kwaivgi/kling-v1.6-i2v-standard","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/7dc382158c77491c9017796a484dd3ce/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:03:37.777Z","error":"","executionTime":0,"timings":{"inference":0}}}},{"json":{"code":200,"message":"success","data":{"id":"3753db19d532413dad2c6249c43276f6","model":"kwaivgi/kling-v1.6-i2v-standard","outputs":[],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/3753db19d532413dad2c6249c43276f6/result"},"has_nsfw_contents":[],"status":"created","created_at":"2025-09-02T09:03:37.776Z","error":"","executionTime":0,"timings":{"inference":0}}}}],"Exécution de Flux de Travail pour Vidéo":[{"json":{"id":"recpEOvTgX3PBVZKF","createdTime":"2025-09-02T09:03:38.000Z","fields":{"ID":75,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/83f2e6f50fe046feaca9d5aeb9ea3c45/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/83f2e6f50fe046feaca9d5aeb9ea3c45/1.mp4","ID Requette":"83f2e6f50fe046feaca9d5aeb9ea3c45"}}},{"json":{"id":"recLTKsDq6R16yhk4","createdTime":"2025-09-02T09:05:44.000Z","fields":{"ID":76,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/22307ef71eb04525a7ee3b5b352bfe72/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/22307ef71eb04525a7ee3b5b352bfe72/1.mp4","ID Requette":"22307ef71eb04525a7ee3b5b352bfe72"}}},{"json":{"id":"reckImobZpxxHjUiZ","createdTime":"2025-09-02T09:06:05.000Z","fields":{"ID":77,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/7dc382158c77491c9017796a484dd3ce/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/7dc382158c77491c9017796a484dd3ce/1.mp4","ID Requette":"7dc382158c77491c9017796a484dd3ce"}}},{"json":{"id":"recmzZD36ZmHSOBK6","createdTime":"2025-09-02T09:06:27.000Z","fields":{"ID":78,"Type":"raw_video","Status":"Terminé","Requette":"https://api.wavespeed.ai/api/v3/predictions/3753db19d532413dad2c6249c43276f6/result","Lien":"https://d1q70pf5vjeyhc.cloudfront.net/predictions/3753db19d532413dad2c6249c43276f6/1.mp4","ID Requette":"3753db19d532413dad2c6249c43276f6"}}}]},"meta":null}