2025/11/26/Sv7CYVZuAVsYBPly.json
{"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.imagePrompt }}","options":{"systemMessage":"=# Contexte\nTu es un expert en ingénierie de prompts d’image. Ton rôle est de transformer un sujet ou concept d’image simple en un prompt détaillé prêt à être utilisé dans un modèle de génération d’image à partir de texte.\n\n## Instructions pour le prompt\nTon prompt détaillé doit clairement décrire les éléments suivants :\n\n1. Sujet principal : Quel est le point focal de l’image ?\n2. Arrière-plan / Décor : Que se passe-t-il en arrière-plan ou dans l’environnement ?\n3. Style : Précise le style visuel (ex. : hyper-réaliste, peinture numérique, aquarelle, anime, rendu 3D, etc.)\n4. Ambiance / Lumière : Décris le ton émotionnel et l’éclairage (ex. : coucher de soleil chaud et doux, nuages d’orage dramatiques, lumières néon futuristes)\n5. Détails supplémentaires : Mentionne tout objet, vêtement, couleur, texture ou caractéristique notable spécifique à inclure\n\n## Format de sortie\n* Commence par une description fluide et naturelle, intégrant tous les éléments ci-dessus de manière cohérente\n* La description doit être écrite comme si elle était destinée à une IA pour produire une image professionnelle et de haute qualité\n* Ne répète pas le sujet d’origine mot à mot — reformule-le en scène visuelle vivante\n* Utilise un langage riche, imagé et précis\n\n## Exemple\n* Entrée : « Une ville futuriste »\n* Sortie : « Une ville futuriste tentaculaire de nuit, illuminée par des lumières néon dans des tons de bleu et de violet. Des gratte-ciel imposants aux façades vitrées dominent l’horizon. Des voitures volantes filent entre les bâtiments sous un ciel nuageux chargé d’électricité. Dans les rues, des publicités holographiques brillent pendant que des passants arborent une mode technologique avant-gardiste. Style peinture numérique, très détaillée, perspective cinématographique, ambiance sombre avec reflets néon sur des trottoirs humides. »"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1104,272],"id":"6d6921f3-dee8-47db-b760-121cdbc8c2e1","name":"Génération de Prompt d'Image"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1568,672],"id":"303a5dbb-9702-4ed8-892e-43001be61f02","name":"Envoi de Photo via Telegram","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1184,496],"id":"70904d29-995e-4002-9030-7c444e68fe29","name":"Chat avec Modèle OpenAI"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW","mode":"list","cachedResultName":"Medias","cachedResultUrl":"https://drive.google.com/drive/folders/1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,864],"id":"513abb81-d4ab-4fb6-b419-dec5a2394596","name":"Sauvegarde sur Google Drive"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"DashBoard","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Terminé","Requette":"={{ $('When Executed by Another Workflow').item.json.imagePrompt }}","ID Requette":"={{ $json.id }}","Titre":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","Type":"Image","Lien":"={{ $json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Titre","displayName":"Titre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"raw_image","value":"raw_image"},{"name":"raw_audio","value":"raw_audio"},{"name":"raw_video","value":"raw_video"},{"name":"Vidéo","value":"Vidéo"},{"name":"Post","value":"Post"},{"name":"Image","value":"Image"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Erreur","value":"Erreur"},{"name":"En cours","value":"En cours"},{"name":"Terminé","value":"Terminé"}],"readOnly":false,"removed":false},{"id":"Requette","displayName":"Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ID Requette","displayName":"ID Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lien","displayName":"Lien","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1792,864],"id":"501b77ed-089e-4615-9ec0-ee5eb70c2d4c","name":"Enregistrement dans Airtable"},{"parameters":{"content":"# 🧭 Vue d'ensemble du Workflow\n\n## 📋 Objectif\nCe workflow automatisé est conçu pour générer des images à partir de prompts textuels, en utilisant des services d'intelligence artificielle, et pour distribuer ces images via Telegram et les stocker sur Google Drive. Il enregistre également les détails de chaque requête dans Airtable pour un suivi efficace.\n\n## 🔄 Sections du Processus\n\n### 🎯 Section Déclenchement et Entrée\nLe processus commence par un déclencheur de workflow qui reçoit les données d'entrée nécessaires, telles que le titre de l'image, le prompt de l'image, et l'ID du chat Telegram. Ces informations sont essentielles pour personnaliser la génération de l'image et sa distribution.\n\n### 🔍 Section Traitement et Analyse\nDans cette section, le workflow utilise un modèle d'intelligence artificielle pour transformer le prompt simple en un prompt détaillé et riche en descriptions. Ce prompt est ensuite envoyé à une API de génération d'images pour créer une image visuelle basée sur les spécifications fournies. Le modèle d'OpenAI est également utilisé pour affiner le prompt et garantir une qualité optimale de l'image générée.\n\n### ⚡ Section Actions et Sorties\nUne fois l'image générée, elle est convertie en fichier binaire pour être facilement manipulée. L'image est ensuite envoyée via Telegram au chat spécifié, offrant une distribution rapide et directe. Parallèlement, l'image est sauvegardée sur Google Drive pour un stockage sécurisé et accessible. Enfin, les détails de la requête, y compris le titre, le prompt, et le lien de l'image, sont enregistrés dans Airtable pour un suivi et une gestion ultérieurs.\n\n## 🔗 Liens Utiles\n- [OpenAI](https://openai.com)\n- [Telegram](https://telegram.org)\n- [Google Drive](https://drive.google.com)\n- [Airtable](https://airtable.com)\n- [Wavespeed](https://wavespeed.ai/?utm_source=Thomas_Berton)","height":836,"width":800,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,512],"typeVersion":1,"id":"fcf4671f-3df4-4c36-98a5-aba763ed866b","name":"Workflow Overview"},{"parameters":{"content":"---\n\n## 👨‍💻 Workflow créé par Thomas Berton\n\n**Envie de faire développer vos solutions IA par des pros ?**  \nContactez mon agence Azuro 👉 [azuro-ai.com](https://azuro-ai.com/contact)\n\n📢 **Rejoignez notre communauté IA sur Skool** 👉 [Le Club IA](https://www.skool.com/le-club-ia)\n\n### 🔗 Suivez-moi sur les réseaux\n\n🎥 **YouTube** : [Thomas BSSH](https://www.youtube.com/@thomasbssh?sub_confirmation=1)  \n💼 **LinkedIn** : [Thomas Berton](https://linkedin.com/in/thomas-berton-563894196)  \n📱 **Instagram** : [@thomasbssh](https://instagram.com/thomasbssh)\n\n---","height":400,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"daea34c7-93f8-48d0-bab8-b4e9d47333db","name":"Signature"},{"parameters":{"workflowInputs":{"values":[{"name":"imageTitle"},{"name":"imagePrompt"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[880,272],"id":"9b9549b6-49e0-4aa1-9651-509b1090ca6c","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/google/nano-banana/text-to-image","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"enable_sync_mode","value":"true"},{"name":"output_format","value":"jpeg"},{"name":"prompt","value":"={{ $json.output }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,672],"id":"fa8580be-7b9a-4367-8334-dc01770c6b62","name":"Génération d'Image avec Google Nano Banana"},{"parameters":{"url":"={{ $json.data.outputs[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,672],"id":"8b1b3e83-2d4a-43ea-9bff-94f0faa872cd","name":"DL Image"}],"connections":{"Génération de Prompt d'Image":{"main":[[{"node":"Génération d'Image avec Google Nano Banana","type":"main","index":0}]]},"Chat avec Modèle OpenAI":{"ai_languageModel":[[{"node":"Génération de Prompt d'Image","type":"ai_languageModel","index":0}]]},"Sauvegarde sur Google Drive":{"main":[[{"node":"Enregistrement dans Airtable","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Génération de Prompt d'Image","type":"main","index":0}]]},"Génération d'Image avec Google Nano Banana":{"main":[[{"node":"DL Image","type":"main","index":0}]]},"DL Image":{"main":[[{"node":"Envoi de Photo via Telegram","type":"main","index":0},{"node":"Sauvegarde sur Google Drive","type":"main","index":0}]]}},"pinData":{"When Executed by Another Workflow":[{"json":{"imageTitle":"Lamborghini 2078","imagePrompt":"Une Lamborghini ultra futuriste de l'année 2078, design avant-gardiste et aérodynamique, couleur noire, avec des lumières LED bleues, style cyberpunk, volant holographique, dans un environnement urbain futuriste la nuit.","chatID":7952797797}}]},"meta":null}