2025/12/01/67yyr0ETLB0EMFxq.json
{"nodes":[{"parameters":{},"id":"b030f728-5619-4e4c-9457-303fa14cc619","name":"Déclencheur Manuel","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,256]},{"parameters":{"assignments":{"assignments":[{"id":"youtube-url-field","name":"youtubeUrl","type":"string","value":"https://www.youtube.com/watch?v=EXAMPLE_VIDEO_ID"}]},"options":{}},"id":"539dd809-2951-43e0-98d5-d3f8b2cc59e3","name":"Définir URL YouTube","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,256]},{"parameters":{"jsCode":"const extractYoutubeId = (url) => {\n  const pattern = /(?:youtube\\.com\\/(?:[^\\/]+\\/.+\\/|(?:v|e(?:mbed)?)\\/|.*[?&]v=)|youtu\\.be\\/)([^\"&?\\/\\s]{11})/;\n  const match = url.match(pattern);\n  return match ? match[1] : null;\n};\n\nconst youtubeUrl = $input.first().json.youtubeUrl;\nconst videoId = extractYoutubeId(youtubeUrl);\n\nreturn [{ json: { videoId: videoId, youtubeUrl: youtubeUrl } }];"},"id":"d729d76a-6268-408b-b0c6-ebd35c9e13ca","name":"Extraire ID Vidéo YouTube","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,256]},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"id","value":"={{ $json.videoId }}"},{"name":"key","value":"VOTRE_CLE_API_YOUTUBE"}]},"options":{}},"id":"a89091d4-561f-4c86-8c2d-c0d24e07e49d","name":"Récupérer Métadonnées Vidéo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,256]},{"parameters":{"assignments":{"assignments":[{"id":"title-field","name":"videoTitle","type":"string","value":"={{ $json.items[0].snippet.title }}"},{"id":"video-id-keep","name":"videoId","type":"string","value":"={{ $('Extraire ID Vidéo YouTube').item.json.videoId }}"},{"id":"processing-date","name":"processingDate","type":"string","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"id":"6f6f4fa4-e498-4512-985c-1b2d2ca52167","name":"Extraire Titre","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,256]},{"parameters":{},"id":"a1096b12-4b50-4220-b994-e13e2e0ab757","name":"Récupérer Transcription YouTube","type":"n8n-nodes-youtube-transcription.youtubeTranscripter","typeVersion":1,"position":[-112,480]},{"parameters":{"fieldsToSummarize":{"values":[{"field":"text"}]},"options":{}},"id":"4af613b3-307d-445b-99e2-27dc09bb4df8","name":"Concaténer Transcription","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-112,808]},{"parameters":{"promptType":"define","messages":{"messageValues":[{"message":"=Titre de la vidéo : {{ $('Extraire Titre').item.json.videoTitle }}\n\nTranscription complète :\n{{ $json.concatenatedText }}\n\n---\n\nTu es un ghostwriter de haut niveau spécialisé dans la création de contenu vidéo captivant. Ta mission est de réécrire cette transcription en un script professionnel et engageant qui :\n\n1. **HOOK PUISSANT** : Commence par un hook accrocheur dans les 5 premières secondes qui capte immédiatement l'attention (question provocante, statistique surprenante, ou affirmation audacieuse)\n\n2. **STRUCTURE CLAIRE** :\n   - Introduction captivante (10-15 secondes)\n   - Développement des points clés avec transitions fluides\n   - Conclusion mémorable avec call-to-action\n\n3. **STYLE D'ÉCRITURE** :\n   - Langage conversationnel et authentique\n   - Phrases courtes et impactantes\n   - Storytelling engageant\n   - Rythme dynamique\n\n4. **OPTIMISATION** :\n   - Supprime les répétitions et hésitations\n   - Renforce les messages clés\n   - Ajoute des moments émotionnels stratégiques\n\nProduis un script complet, prêt à être utilisé, optimisé pour une vidéo virale."}]}},"id":"1ff7caf2-5a38-4bb2-b4a7-d33430c55ade","name":"Réécrire comme Ghostwriter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[112,808]},{"parameters":{"model":{"rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{"maxTokens":3000,"temperature":0.8}},"id":"7ed43602-7781-4c37-aca4-930218e712c1","name":"Modèle OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[184,1032]},{"parameters":{"jsCode":"const rewrittenScript = $input.first().json.text;\nconst videoTitle = $('Extraire Titre').item.json.videoTitle;\nconst videoId = $('Extraire Titre').item.json.videoId;\nconst processingDate = $('Extraire Titre').item.json.processingDate;\n\n// Fonction pour découper le script en segments logiques\nconst splitIntoSegments = (text) => {\n  const sentences = text.match(/[^.!?]+[.!?]+/g) || [];\n  const segments = [];\n  let currentSegment = '';\n  let segmentNumber = 1;\n\n  sentences.forEach((sentence, index) => {\n    if ((currentSegment + sentence).length < 250) {\n      currentSegment += sentence;\n    } else {\n      if (currentSegment.trim()) {\n        segments.push({\n          segmentNumber: segmentNumber++,\n          text: currentSegment.trim(),\n          characterCount: currentSegment.trim().length,\n          type: segmentNumber === 2 ? 'hook' : (index > sentences.length - 3 ? 'conclusion' : 'body')\n        });\n      }\n      currentSegment = sentence;\n    }\n  });\n\n  if (currentSegment.trim()) {\n    segments.push({\n      segmentNumber: segmentNumber,\n      text: currentSegment.trim(),\n      characterCount: currentSegment.trim().length,\n      type: 'conclusion'\n    });\n  }\n\n  return segments;\n};\n\nconst segments = splitIntoSegments(rewrittenScript);\n\nreturn segments.map(segment => ({\n  json: {\n    videoId: videoId,\n    videoTitle: videoTitle,\n    processingDate: processingDate,\n    segmentNumber: segment.segmentNumber,\n    segmentType: segment.type,\n    scriptText: segment.text,\n    characterCount: segment.characterCount,\n    brollKeywords: segment.text.substring(0, 80).replace(/[^a-zA-Z0-9 ]/g, '').trim(),\n    estimatedDuration: Math.ceil(segment.characterCount / 15),\n    status: 'pending',\n    imageGenerated: false,\n    brollFound: false\n  }\n}));"},"id":"42073c33-da28-472e-9f0e-42de58bf9d4e","name":"Découper Script en Segments","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,808]},{"parameters":{"dataTableId":{"mode":"list","value":"VIDEO_SEGMENTS_TABLE_ID","cachedResultName":"VideoSegmentsTable"},"columns":{"mappingMode":"defineBelow","value":{"video_id":"={{ $json.videoId }}","video_title":"={{ $json.videoTitle }}","processing_date":"={{ $json.processingDate }}","segment_number":"={{ $json.segmentNumber }}","segment_type":"={{ $json.segmentType }}","script_text":"={{ $json.scriptText }}","character_count":"={{ $json.characterCount }}","broll_keywords":"={{ $json.brollKeywords }}","estimated_duration":"={{ $json.estimatedDuration }}","status":"={{ $json.status }}","image_generated":"={{ $json.imageGenerated }}","broll_found":"={{ $json.brollFound }}"}}},"id":"21bc2d2f-0025-4714-a306-237ecc9f0ee2","name":"Insérer dans Data Table","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[688,808]},{"parameters":{"operation":"get","dataTableId":{"mode":"list","value":"VIDEO_SEGMENTS_TABLE_ID","cachedResultName":"VideoSegmentsTable"},"filters":{"conditions":[{"condition":"equals"},{"condition":"equals"}]}},"id":"9ad0729e-757f-4b21-b85b-aad0c1309b60","name":"Récupérer Segments depuis Data Table","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[912,808]},{"parameters":{"assignments":{"assignments":[{"id":"row-id","name":"dataTableRowId","type":"number","value":"={{ $json.id }}"},{"id":"segment-data","name":"segmentData","type":"object","value":"={{ { videoId: $json.video_id, videoTitle: $json.video_title, segmentNumber: $json.segment_number, segmentType: $json.segment_type, scriptText: $json.script_text, brollKeywords: $json.broll_keywords, estimatedDuration: $json.estimated_duration } }}"},{"id":"ready-flag","name":"readyForProcessing","type":"boolean","value":true}]},"options":{}},"id":"0c576eff-2653-449b-b3dc-b68ca0995d93","name":"Formater pour Workflow suivant","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,808]},{"parameters":{"content":"## 📋 Configuration Requise\n\n**1. Créer la Data Table :**\n- Nom : VideoSegmentsTable\n- Colonnes :\n  • video_id (string)\n  • video_title (string)\n  • processing_date (string)\n  • segment_number (number)\n  • segment_type (string)\n  • script_text (string)\n  • character_count (number)\n  • broll_keywords (string)\n  • estimated_duration (number)\n  • status (string)\n  • image_generated (boolean)\n  • broll_found (boolean)\n\n**2. APIs :**\n- Clé API YouTube\n- Credentials OpenAI\n\n**3. Packages :**\n- n8n-nodes-youtube-transcription","height":420,"width":480,"color":4},"id":"587bd615-a478-46b6-bb16-d036181825ba","name":"Note - Configuration","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,-256]},{"parameters":{"content":"## 🎬 Extraction Vidéo\n\n- Extraction ID vidéo\n- Récupération métadonnées\n- Téléchargement transcription\n- Concaténation du texte","height":140,"width":760,"color":5},"id":"9fa99da8-d8f4-4b23-b540-6e0621f09b43","name":"Note - Extraction","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[416,-128]},{"parameters":{"content":"## ✍️ Réécriture Ghostwriter\n\n**GPT-4o** transforme en script professionnel :\n- Hook captivant (5 secondes)\n- Structure narrative optimisée\n- Style conversationnel engageant","width":460,"color":6},"id":"01cfa2dc-9787-462c-8686-be7751cfd4fd","name":"Note - Ghostwriting","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,-96]},{"parameters":{"content":"## 💾 Stockage Data Tables\n\n**Avantages :**\n- ✅ 100x plus rapide que Google Sheets\n- ✅ Stockage natif dans n8n\n- ✅ Pas de credentials externes\n- ✅ Jusqu'à 50MB (500k+ lignes)\n- ✅ Gestion de statut des segments\n- ✅ Réutilisable par autres workflows\n\n**Chaque segment stocké avec :**\n- Métadonnées vidéo\n- Type de segment (hook/body/conclusion)\n- Keywords pour B-roll\n- Statut de traitement\n- Flags génération image/B-roll","height":320,"width":940,"color":7},"id":"edf085f7-84a8-467b-87f4-86a3aa469d41","name":"Note - Data Tables","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1824,-128]},{"parameters":{"content":"## 🔗 Workflow Suivant - Génération Images/B-roll\n\n**Ce workflow prépare les données. Créez un second workflow qui :**\n\n1. **Lit la Data Table** avec le nœud Data Table (Get)\n2. **Filtre** les segments `status = 'pending'`\n3. **Génère des images** avec DALL-E ou Midjourney basé sur `broll_keywords`\n4. **Recherche B-roll** via Pexels/Unsplash API\n5. **Met à jour le statut** avec Data Table (Update)\n6. **Marque** `image_generated = true` et `status = 'completed'`\n\n**Déclencheur suggéré :** Schedule (toutes les 5 minutes) ou Webhook","height":220,"width":2700,"color":3},"id":"ea03afc4-963c-4773-92f5-f60c14c73670","name":"Note - Intégration Workflow","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,464]}],"connections":{"Déclencheur Manuel":{"main":[[{"node":"Définir URL YouTube","type":"main","index":0}]]},"Définir URL YouTube":{"main":[[{"node":"Extraire ID Vidéo YouTube","type":"main","index":0}]]},"Extraire ID Vidéo YouTube":{"main":[[{"node":"Récupérer Métadonnées Vidéo","type":"main","index":0}]]},"Récupérer Métadonnées Vidéo":{"main":[[{"node":"Extraire Titre","type":"main","index":0}]]},"Concaténer Transcription":{"main":[[{"node":"Réécrire comme Ghostwriter","type":"main","index":0}]]},"Réécrire comme Ghostwriter":{"main":[[{"node":"Découper Script en Segments","type":"main","index":0}]]},"Modèle OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Réécrire comme Ghostwriter","type":"ai_languageModel","index":0}]]},"Découper Script en Segments":{"main":[[{"node":"Insérer dans Data Table","type":"main","index":0}]]},"Insérer dans Data Table":{"main":[[{"node":"Récupérer Segments depuis Data Table","type":"main","index":0}]]},"Récupérer Segments depuis Data Table":{"main":[[{"node":"Formater pour Workflow suivant","type":"main","index":0}]]}},"pinData":{},"meta":null}