2025/12/01/A6yTsapqUF8bgDkW.json
{"nodes":[{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.image }} (Edited).png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW","mode":"list","cachedResultName":"Medias","cachedResultUrl":"https://drive.google.com/drive/folders/1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1536,576],"id":"f39d9e48-77b4-4754-a142-2d6ed21eddd3","name":"Téléchargement sur Google Drive"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,384],"id":"25b734c2-2e24-439c-a828-8b14d19f18dd","name":"Envoi de Photo sur Telegram","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.pictureID }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1248,128],"id":"f9fd4a67-1c99-4bec-bc6c-ae6111c6a6f8","name":"Téléchargement depuis Google Drive"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"DashBoard","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Terminé","Requette":"={{ $('When Executed by Another Workflow').item.json.imagePrompt }}","ID Requette":"={{ $json.id }}","Titre":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","Type":"Image","Lien":"={{ $json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Titre","displayName":"Titre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"raw_image","value":"raw_image"},{"name":"raw_audio","value":"raw_audio"},{"name":"raw_video","value":"raw_video"},{"name":"Vidéo","value":"Vidéo"},{"name":"Post","value":"Post"},{"name":"Image","value":"Image"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Erreur","value":"Erreur"},{"name":"En cours","value":"En cours"},{"name":"Terminé","value":"Terminé"}],"readOnly":false,"removed":false},{"id":"Requette","displayName":"Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ID Requette","displayName":"ID Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lien","displayName":"Lien","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1760,576],"id":"592a806d-b7a3-4f14-966e-13758f540f86","name":"Création d'Entrée dans Airtable"},{"parameters":{"content":"# 🧭 Vue d'ensemble du Workflow\n\n## 📋 Objectif\nCe workflow automatisé est conçu pour traiter des images en utilisant l'API d'OpenAI, stocker les résultats sur Google Drive, envoyer les images via Telegram, et enregistrer les métadonnées dans Airtable. Il simplifie le processus de modification d'images et de partage des résultats avec les parties prenantes.\n\n## 🔄 Sections du Processus\n\n### 🎯 Section Déclenchement et Entrée\nLe workflow commence par un déclencheur qui active le processus lorsque des données spécifiques sont reçues. Les données d'entrée incluent une image, une requête de modification, un identifiant de chat, et un identifiant d'image. Ces informations sont essentielles pour personnaliser le traitement de l'image et assurer un suivi précis.\n\n### 🔍 Section Traitement et Analyse\nDans cette section, l'image est envoyée à l'API d'OpenAI pour être modifiée selon la requête fournie. L'API retourne une image modifiée qui est ensuite convertie en fichier binaire pour faciliter son stockage et son partage. Ce processus garantit que les images sont traitées efficacement et prêtes pour les étapes suivantes.\n\n### ⚡ Section Actions et Sorties\nLes images modifiées sont téléchargées sur Google Drive pour un stockage sécurisé et un accès facile. Simultanément, elles sont envoyées via Telegram pour une distribution rapide aux utilisateurs finaux. Enfin, les métadonnées associées à chaque image sont enregistrées dans Airtable, permettant un suivi et une gestion centralisés des informations.\n\n## 🔗 Liens Utiles\n- [OpenAI](https://openai.com)\n- [Google Drive](https://drive.google.com)\n- [Telegram](https://telegram.org)\n- [Airtable](https://airtable.com)","height":836,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,512],"typeVersion":1,"id":"418e2dce-52fe-42a8-a6b2-ee83a8bc5e0c","name":"Workflow Overview"},{"parameters":{"content":"---\n\n## 👨‍💻 Workflow créé par Thomas Berton\n\n**Envie de faire développer vos solutions IA par des pros ?**  \nContactez mon agence Azuro 👉 [azuro-ai.com](https://azuro-ai.com/contact)\n\n📢 **Rejoignez notre communauté IA sur Skool** 👉 [Le Club IA](https://www.skool.com/le-club-ia)\n\n### 🔗 Suivez-moi sur les réseaux\n\n🎥 **YouTube** : [Thomas BSSH](https://www.youtube.com/@thomasbssh?sub_confirmation=1)  \n💼 **LinkedIn** : [Thomas Berton](https://linkedin.com/in/thomas-berton-563894196)  \n📱 **Instagram** : [@thomasbssh](https://instagram.com/thomasbssh)\n\n---","height":400,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"f5252932-1e42-4b2b-a05b-7cb1c70c8bab","name":"Signature"},{"parameters":{"workflowInputs":{"values":[{"name":"image"},{"name":"request"},{"name":"chatID"},{"name":"pictureID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1024,128],"id":"1e1c07a4-4613-4a63-b474-436ab234caf1","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/google/nano-banana/edit","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"enable_sync_mode\": true,\n  \"images\": [\n    \"{{ $json.url }}\"\n  ],\n  \"output_format\": \"jpeg\",\n  \"prompt\": \"{{ $('When Executed by Another Workflow').item.json.request }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,384],"id":"3de5cc53-d312-494f-88f1-aba8e5470396","name":"Génération d'Image avec Google Nano Banana"},{"parameters":{"url":"={{ $json.data.outputs[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,384],"id":"f2fd9c0c-b133-4b88-824d-c3f05624ba82","name":"DL Image"},{"parameters":{"jsCode":"const fileId = $('When Executed by Another Workflow').first().json.pictureID\n\n// Example:\nreturn {\n  url : `https://drive.google.com/uc?id=${fileId}&export=download`\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,128],"id":"66331938-0441-4fb1-8416-4490ae127fb9","name":"build download link"}],"connections":{"Téléchargement sur Google Drive":{"main":[[{"node":"Création d'Entrée dans Airtable","type":"main","index":0}]]},"Téléchargement depuis Google Drive":{"main":[[{"node":"build download link","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Téléchargement depuis Google Drive","type":"main","index":0}]]},"Génération d'Image avec Google Nano Banana":{"main":[[{"node":"DL Image","type":"main","index":0}]]},"build download link":{"main":[[{"node":"Génération d'Image avec Google Nano Banana","type":"main","index":0}]]},"DL Image":{"main":[[{"node":"Envoi de Photo sur Telegram","type":"main","index":0},{"node":"Téléchargement sur Google Drive","type":"main","index":0}]]}},"pinData":{"When Executed by Another Workflow":[{"json":{"image":"Ferrari 2073","request":"Change the color of the Ferrari to green","chatID":7952797797,"pictureID":"1CxzqWiOb9ojVQrZCAw64TEj_0r3NuLm8"}}],"Téléchargement depuis Google Drive":[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false}}],"build download link":[{"json":{"url":"https://drive.google.com/uc?id=1CxzqWiOb9ojVQrZCAw64TEj_0r3NuLm8&export=download"}}],"Génération d'Image avec Google Nano Banana":[{"json":{"code":200,"message":"success","data":{"id":"3af95e3d9a034a4faa01ac2effc31a59","model":"google/nano-banana/edit","outputs":["https://d1q70pf5vjeyhc.cloudfront.net/predictions/3af95e3d9a034a4faa01ac2effc31a59/1.jpeg"],"urls":{"get":"https://api.wavespeed.ai/api/v3/predictions/3af95e3d9a034a4faa01ac2effc31a59/result"},"has_nsfw_contents":null,"status":"completed","created_at":"2025-09-02T07:59:12.017Z","error":"","executionTime":10261,"timings":{"inference":10261}}}}]},"meta":null}