2025/12/01/eSFE3AsfLHngHaMf.json
{"nodes":[{"parameters":{"promptType":"define","text":"=Image: {{ $json.image }}","hasOutputParser":true,"options":{"systemMessage":"=# Contexte\nTu es un Agent de Recherche d’Images. Lorsque l’utilisateur fournit une requête, ta tâche est de rechercher dans la \"Base de données d’images\" en utilisant les mots-clés de cette requête. Tu dois localiser l’image la plus pertinente.\n\n## Résultat à fournir\n* Retourne le nom, l’ID et le lien de l’image\n* Si aucune image ne correspond, affiche simplement : « Non trouvée »"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1056,400],"id":"591e928e-f961-4089-ab9d-ce3aea5b48f8","name":"Agent de Recherche d'Image"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5a9fd85-2403-423e-92a2-d3ba20db83d9","leftValue":"={{ $('When Executed by Another Workflow').first().json.intent }}","rightValue":"Get","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,1136],"id":"e7583aa4-65c3-4cc7-b9db-87928cf04724","name":"Vérifier Intention de Recherche"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85e307aa-0bb8-40f1-b62e-5b36c231b0af","leftValue":"={{ $json.output.status }}","rightValue":"Not Found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,1040],"id":"98d3c53f-fe5d-40e3-9d27-83679859c784","name":"Vérifier Image Non Trouvée"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.output.image_link }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1280,1040],"id":"d2007c7d-a9cb-4d14-98c3-b0eaf7e043dd","name":"Télécharger Image de Google Drive"},{"parameters":{"jsonSchemaExample":"{\n  \"image_name\":\"string | null\",\n  \"image_id\": \"string | null\",\n  \"image_link\": \"string | null\",\n  \"status\": \"found | not_found\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1280,624],"id":"c498bdd7-7c67-4b0c-a1fe-b500854bae9b","name":"Parser de Sortie Structurée"},{"parameters":{"assignments":{"assignments":[{"id":"be32fa20-d1e6-4831-a266-5991e5c4eb1e","name":"imageName","value":"={{ $json.output.image_name }}","type":"string"},{"id":"10b5ddb9-a482-46a7-962f-8e18533d90d5","name":"imageID","value":"={{ $json.output.image_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,1232],"id":"674ecd3e-41ab-4bc2-ba89-7ed63530d070","name":"Définir Détails de l'Image"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,1040],"id":"ead94d6b-6db7-4d97-9c20-8286af47cda4","name":"Envoyer Image via Telegram","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1024,624],"id":"32506b5c-7d04-4eea-9a07-ee8b09145f0b","name":"Chat avec Modèle OpenAI"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"DashBoard","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"filterByFormula":"{Type} = 'Image'","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1152,624],"id":"a04d2cfa-f03a-4ace-93b4-3a3f4a214293","name":"Recherche d'Image dans Airtable"},{"parameters":{"content":"# 🧭 Vue d'ensemble du Workflow\n\n## 📋 Objectif\nCe workflow automatisé dans n8n est conçu pour rechercher et récupérer des images à partir d'une base de données d'images en fonction d'une requête utilisateur. Il télécharge ensuite l'image trouvée et l'envoie via Telegram. Si aucune image n'est trouvée, une réponse par défaut est générée.\n\n## 🔄 Sections du Processus\n\n### 🎯 Section Déclenchement et Entrée\nLe workflow est déclenché par un autre flux de travail qui fournit les entrées nécessaires : une intention de recherche, une image et un identifiant de chat. Ces données sont essentielles pour initier le processus de recherche d'image.\n\n### 🔍 Section Traitement et Analyse\nUne fois déclenché, le workflow utilise un agent de recherche d'image pour analyser la requête et interroger la base de données d'images. L'agent tente de localiser l'image la plus pertinente en fonction des mots-clés fournis. Si une image est trouvée, ses détails (nom, ID, lien) sont extraits pour un traitement ultérieur.\n\n### 🔀 Section Décision et Routage\nLe workflow évalue ensuite si l'image a été trouvée. Si l'image n'est pas trouvée, une réponse par défaut est définie pour informer l'utilisateur. Si l'image est trouvée, le workflow continue vers la section de téléchargement.\n\n### 📤 Section Téléchargement et Envoi\nPour les images trouvées, le workflow télécharge l'image depuis Google Drive en utilisant le lien fourni. Ensuite, l'image est envoyée au chat Telegram spécifié, complétant ainsi le processus de livraison de l'image à l'utilisateur.\n\n### 🚨 Section Gestion des Erreurs\nEn cas d'absence d'image dans la base de données, le workflow génère une réponse par défaut indiquant que l'image n'a pas été trouvée. Cela garantit que l'utilisateur reçoit toujours une réponse, même si le résultat n'est pas celui escompté.\n\n## 🔗 Liens Utiles\n- [Airtable](https://airtable.com)\n- [Google Drive](https://google.com)\n- [Telegram](https://telegram.org)","height":948,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-176,496],"typeVersion":1,"id":"30e181fb-df52-4c69-a5b8-5419b1e91616","name":"Workflow Overview"},{"parameters":{"content":"---\n\n## 👨‍💻 Workflow créé par Thomas Berton\n\n**Envie de faire développer vos solutions IA par des pros ?**  \nContactez mon agence Azuro 👉 [azuro-ai.com](https://azuro-ai.com/contact)\n\n📢 **Rejoignez notre communauté IA sur Skool** 👉 [Le Club IA](https://www.skool.com/le-club-ia)\n\n### 🔗 Suivez-moi sur les réseaux\n\n🎥 **YouTube** : [Thomas BSSH](https://www.youtube.com/@thomasbssh?sub_confirmation=1)  \n💼 **LinkedIn** : [Thomas Berton](https://linkedin.com/in/thomas-berton-563894196)  \n📱 **Instagram** : [@thomasbssh](https://instagram.com/thomasbssh)\n\n---","height":400,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-176,-16],"typeVersion":1,"id":"85f2632a-4448-4dae-b09b-720cae191da0","name":"Signature"},{"parameters":{"workflowInputs":{"values":[{"name":"intent"},{"name":"image"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[800,400],"id":"c23e39af-3089-4ce7-a29c-879b1c5b3799","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"44c36e1d-19e8-4411-bd3d-86c5144ecb14","name":"response","value":"Image wasn't found in the database","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,944],"id":"63767339-bf2f-42ec-9379-54a2ac1e0108","name":"Image Non Trouvé"}],"connections":{"Agent de Recherche d'Image":{"main":[[{"node":"Vérifier Image Non Trouvée","type":"main","index":0}]]},"Vérifier Intention de Recherche":{"main":[[{"node":"Télécharger Image de Google Drive","type":"main","index":0}],[{"node":"Définir Détails de l'Image","type":"main","index":0}]]},"Vérifier Image Non Trouvée":{"main":[[{"node":"Image Non Trouvé","type":"main","index":0}],[{"node":"Vérifier Intention de Recherche","type":"main","index":0}]]},"Télécharger Image de Google Drive":{"main":[[{"node":"Envoyer Image via Telegram","type":"main","index":0}]]},"Parser de Sortie Structurée":{"ai_outputParser":[[{"node":"Agent de Recherche d'Image","type":"ai_outputParser","index":0}]]},"Chat avec Modèle OpenAI":{"ai_languageModel":[[{"node":"Agent de Recherche d'Image","type":"ai_languageModel","index":0}]]},"Recherche d'Image dans Airtable":{"ai_tool":[[{"node":"Agent de Recherche d'Image","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Agent de Recherche d'Image","type":"main","index":0}]]}},"pinData":{"When Executed by Another Workflow":[{"json":{"intent":"Get","image":"oiseau kalashnikov cartoon","chatID":7952797797}}]},"meta":null}