2025/12/01/GFhR2FJkkCgGds5N.json
{"nodes":[{"parameters":{"path":"youtube-phase4-assets-ai","responseMode":"lastNode","options":{}},"id":"96d6a265-a1ab-43a7-89f2-14dd25b9c68f","name":"🎯 Trigger Phase 4","type":"n8n-nodes-base.webhook","position":[-800,64],"webhookId":"phase4-ai-webhook","typeVersion":1.1},{"parameters":{"content":"## 🤖 PHASE 4: ASSETS (IA)\n\n**Agent IA intégré**\n\n✅ Intelligence artificielle\n✅ Optimisation automatique\n✅ Qualité maximale\n\n**Outputs**: JSON structuré","height":260,"width":380,"color":4},"id":"19119331-1715-4fc7-b7b9-f9bbc3af6634","name":"🤖 PHASE 4: ASSETS (IA)","type":"n8n-nodes-base.stickyNote","position":[-816,-240],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"input-001","operator":{"type":"string","operation":"exists"},"leftValue":"={{$json.body.topic}}"}]},"options":{}},"id":"6367f1f0-3bce-4277-9a87-eadb8ecb557e","name":"✅ Valider Inputs","type":"n8n-nodes-base.if","position":[-576,64],"typeVersion":2},{"parameters":{"promptType":"define","text":"=GÉNÉRATION PROMPTS VISUELS - PHASE 4:\n\n=== SCRIPT FINAL ===\n{{$json.phase3_final_script}}\n\n=== STRATÉGIE ===\n{{$json.phase2_strategy}}\n\n=== CONFIGURATION VISUELLE ===\nVisual Style: \"{{visual_style}}\"\nBrand Colors: {{brand_colors}} (si applicable)\nQuality Target: 8K cinematic\nKie.ai Optimization: Yes\n\n=== INSTRUCTIONS ===\n\n1. Analyse le script et identifie {{min_visual_segments}} moments clés\n2. Génère prompts KIE.AI détaillés pour CHAQUE moment\n3. Inclure alternatives pour chaque prompt\n4. Assure cohérence visuelle cross-segments\n5. Outline asset generation schedule\n\nPrompts doivent être:\n- Très détaillés (camera, lighting, mood, style)\n- Kie.ai-optimisés (proven to work well)\n- Cinématic quality oriented\n- Consistent brand aesthetic\n\n=== SORTIE ===\n\nRetourner UNIQUEMENT JSON valide.\n","options":{"systemMessage":"=Tu es VISUAL_PROMPTS_OPTIMIZER_PHASE4, expert en création de prompts nano banana pro ou Midjourney/Kie.ai.\n\n### RÔLE\nGénérer des prompts visuels optimisés pour produire assets de qualité cinéma pour votre vidéo.\n\n### TÂCHES\n1. **Analyser** le script Phase 3 + strategy Phase 2\n2. **Identifier** moments clés nécessitant visuels\n3. **Générer prompts** détaillés pour chaque segment\n4. **Optimiser** prompts pour Kie.ai (meilleure qualité)\n5. **Prévoir** assets générés + alternatives fallback\n\n### FORMAT PROMPT KIE.AI OPTIMISÉ\n\nStructure proven:\n[CAMERA] [SUBJECT] [ACTION] [SETTING] [STYLE] [LIGHTING] [MOOD]\n\n\nExemple:\nWide cinematic shot, pristine mountain valley at golden hour,\nmorning mist flowing between peaks, professional nature photography,\nsoft diffused light, serene peaceful mood, 8K quality, Hasselblad\n\n\n### FORMAT SORTIE - JSON STRICT\n{\n\"visual_planning_status\": \"success\" | \"error\",\n\"timestamp\": \"ISO_8601\",\n\"script_segments_identified\": number,\n\"visual_segments_required\": number,\n\"visual_prompts\": [\n{\n\"segment_id\": number,\n\"timecode\": \"MM:SS\",\n\"script_snippet\": \"string\",\n\"visual_purpose\": \"Hook|Establish context|Main content|Transition|Conclusion\",\n\"primary_prompt\": \"string (detailed Kie.ai prompt)\",\n\"prompt_components\": {\n\"camera_angle\": \"string\",\n\"subject\": \"string\",\n\"action\": \"string\",\n\"setting\": \"string\",\n\"style\": \"string\",\n\"lighting\": \"string\",\n\"mood\": \"string\",\n\"quality_specs\": \"string (8K, cinematic, etc)\"\n},\n\"alternative_prompts\": [\n\"string (2-3 alternatives if primary fails)\"\n],\n\"expected_quality\": \"High|Medium|Low (confidence)\",\n\"generation_difficulty\": \"Easy|Medium|Hard\",\n\"estimated_generation_time_seconds\": number\n}\n],\n\"color_palette_recommended\": {\n\"primary_colors\": [\"string (hex ou names)\"],\n\"mood\": \"string (description palette mood)\",\n\"consistency_notes\": \"string\"\n},\n\"visual_consistency_guide\": \"string (guidelines pour cohérence visuelle entre segments)\",\n\"asset_generation_schedule\": [\n{\n\"batch\": number,\n\"segments\": [number],\n\"total_prompts\": number,\n\"estimated_time_minutes\": number\n}\n],\n\"fallback_strategy\": {\n\"lower_quality_prompts\": [\n\"string (2-3 prompts alternatifs si Kie.ai fails)\"\n],\n\"stock_footage_alternatives\": [\n\"string (2-3 alternatives stock footage)\"\n]\n},\n\"quality_score\": number (0-100)\n}\n\n### RÈGLES STRICTES\n- ✓ Prompts détaillés et spécifiques (pas vagues)\n- ✓ One prompt per visual segment (minimum 15 segments)\n- ✓ Alternatives pour chaque prompt (fallback)\n- ✓ Color consistency across prompts\n- ✓ Realistic generation times estimées\n- ✓ JSON valide uniquement\n","maxIterations":15}},"id":"fb169db6-3745-4f6c-b057-23d1922c56f3","name":"🤖 Agent IA - Assets","type":"@n8n/n8n-nodes-langchain.agent","position":[-272,16],"typeVersion":1.7},{"parameters":{"jsCode":"const agentOutput = $input.first().json;\nlet result;\ntry {\n  if (typeof agentOutput.output === 'string') {\n    let clean = agentOutput.output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    result = JSON.parse(clean);\n  } else {\n    result = agentOutput.output || agentOutput;\n  }\n} catch(e) {\n  result = { status: 'success', data: agentOutput };\n}\nresult.ai_enhanced = true;\nreturn [{ json: result }];"},"id":"9f67753a-fecd-4bdd-bb8b-c1b053b2c8da","name":"📊 Formater Résultats","type":"n8n-nodes-base.code","position":[176,64],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"resp-001","name":"status","type":"string","value":"success"},{"id":"resp-002","name":"phase","type":"string","value":"Phase 4 - Assets (AI)"},{"id":"resp-003","name":"outputs","type":"object","value":"={{$json}}"},{"id":"resp-004","name":"timestamp","type":"string","value":"={{$now}}"}]},"options":{}},"id":"53c0d1c9-796e-454b-9a38-b75ece1b88f6","name":"📦 Construire Réponse","type":"n8n-nodes-base.set","position":[416,64],"typeVersion":3.4},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"9f9a6395-f271-4316-bbd9-61bc69eac66b","name":"✅ Réponse Succès","type":"n8n-nodes-base.respondToWebhook","position":[656,64],"typeVersion":1.1},{"parameters":{"model":"moonshotai/kimi-k2","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-416,224],"id":"56044991-f7d2-428c-ba1f-537378a0f1d8","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"yyKOyAeF8ufVx7Sc","name":"OpenRouter account"}}}],"connections":{"🎯 Trigger Phase 4":{"main":[[{"node":"✅ Valider Inputs","type":"main","index":0}]]},"✅ Valider Inputs":{"main":[[{"node":"🤖 Agent IA - Assets","type":"main","index":0}]]},"🤖 Agent IA - Assets":{"main":[[{"node":"📊 Formater Résultats","type":"main","index":0}]]},"📊 Formater Résultats":{"main":[[{"node":"📦 Construire Réponse","type":"main","index":0}]]},"📦 Construire Réponse":{"main":[[{"node":"✅ Réponse Succès","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"🤖 Agent IA - Assets","type":"ai_languageModel","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}