2025/12/01/qBg7Pm5Uy0w6F2Zj.json
{"nodes":[{"parameters":{"name":"createImage","description":"Appelle cet outil pour créer une image.\n","workflowId":{"__rl":true,"value":"v2XyNOzGDZwl8hFh","mode":"list","cachedResultName":"2 - Image Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `L’image demandée par l’utilisateur`, 'string') }}","imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `Le titre de l’image. Il ne doit pas dépasser 4 mots.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1584,336],"id":"a6594ea7-6d33-43f2-a126-0c473295b2bc","name":"Créer une Image"},{"parameters":{"chatId":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2560,112],"id":"e6ced864-d32c-482b-a33a-5c0fb91f25e0","name":"Envoyer Message Telegram","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1456,336],"id":"2a1398b1-d13c-4abf-8e08-2a098b231c40","name":"Stockage Mémoire Simple"},{"parameters":{"name":"editImage","description":"Appelle cet outil pour modifier une image.\n","workflowId":{"__rl":true,"value":"cLOdRIOtHZfGuoBW","mode":"list","cachedResultName":"3 - Image Modif Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `Le titre de l’image que l’utilisateur souhaite modifier.\n`, 'string') }}","chatID":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}","request":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `La modification que l’utilisateur souhaite apporter à l’image.\n`, 'string') }}","pictureID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `L’ID de l’image à modifier.\n`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pictureID","displayName":"pictureID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1712,336],"id":"2c9d05c4-9837-499a-be35-646567a627fd","name":"Modifier une Image"},{"parameters":{"name":"searchImages","description":"Appelle cet outil pour rechercher dans la base d’images.","workflowId":{"__rl":true,"value":"5th7OFlpnRc0KKYB","mode":"list","cachedResultName":"6 - Image Recherche Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"intent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `L’intention de l’utilisateur. Cela peut être soit « Obtenir », soit « Modifier »`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `Le titre de l’image\n`, 'string') }}","chatID":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1840,336],"id":"bfba7b44-9dd2-4a17-84dc-b9ed966d6deb","name":"Rechercher des Images"},{"parameters":{"name":"blogPost","description":"Appelle cet outil pour créer un article de blog en utilisant un sujet et un public cible.\n","workflowId":{"__rl":true,"value":"swNeu1AjANGVHOcL","mode":"list","cachedResultName":"1 - Blog Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"blogTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `Le sujet du blog.`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `Le public cible du blog.`, 'string') }}","chatID":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"blogTopic","displayName":"blogTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1968,336],"id":"299e27bd-f5d5-4647-9050-8f12ac3affe7","name":"Créer un Article de Blog"},{"parameters":{"name":"linkedinPost","description":"Appelle cet outil pour créer un post LinkedIn en utilisant un sujet et un public cible.","workflowId":{"__rl":true,"value":"5jgCuubU68jnevd2","mode":"list","cachedResultName":"4 - LinkedIn Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"postTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('postTopic', `Le sujet du post LinkedIn\n`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `Le public cible du post LinkedIn\n`, 'string') }}","chatID":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"postTopic","displayName":"postTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2096,336],"id":"d59b2c24-ec9e-4d4c-9caa-17bfad7941ef","name":"Créer un Post LinkedIn"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"a695c8cd-d929-4e34-ad24-c67f7393ba13","name":"Définir le Texte","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,16]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"f44ebd5e-de96-41e3-8161-b0d84c853100","name":"Télécharger Fichier Audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,208],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"383064d2-d233-48f8-95f1-3ff4a2adeba6","name":"Transcrire Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1104,208]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"a4f8cb47-4f66-4719-b8e1-657fb0cc032c","name":"Basculer Entrée","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[656,112]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"3ac26611-9873-4d78-909d-83da28a891ca","name":"Déclencheur Telegram","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[432,112],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63"},{"parameters":{"name":"video","description":"Appelle cet outil pour créer une vidéo.\n","workflowId":{"__rl":true,"value":"4QrZSpltuHE6cLuo","mode":"list","cachedResultName":"5 - Video Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"videoTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('videoTopic', `Le sujet de la vidéo`, 'string') }}","chatID":"={{ $('Déclencheur Telegram').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"videoTopic","displayName":"videoTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2224,336],"id":"5fc160be-cb70-4df8-9b34-71bff5aff521","name":"Créer une Vidéo"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Contexte\nTu es une intelligence artificielle qui s'apelle BOB au service d’une équipe marketing. Ton rôle est d’aider l’utilisateur à créer et modifier des images selon sa demande, ou à produire du contenu.\n\n## Outils\ncreateImage – Utilise cet outil pour créer une image. Envoie le prompt de l’image demandée à cet outil.\neditImage – Utilise cet outil pour modifier une image. L’utilisateur pourrait aussi dire « make » au lieu de « edit ».\nImage Database – Utilise-le pour rechercher dans la base d’images.\nblogPost – Utilise-le pour créer un article de blog.\nlinkedinPost – Utilise-le pour créer un post LinkedIn avec image incluse.\nvideo – Utilise cet outil pour créer une vidéo.\nThink – Utilise-le si tu as besoin d’aide pour prendre une décision.\n\n## Instructions\n* Si l’utilisateur demande de « modifier cette image » ou « faire ça… », cela signifie qu’il souhaite modifier la dernière image dans la base, la plus récente.\n* Si l’utilisateur demande un article de blog ou un post LinkedIn, utilise l’outil blogPost ou linkedinPost et affiche :\n  « Voici le post que vous avez demandé. J’espère qu’il vous plaira. »\n\n## output\n* Assure-toi de retourner le lien de l’image sous forme de lien cliquable."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1776,112],"id":"5d6625c8-7a2c-43fc-b03e-3220a14f3135","name":"Agent Équipe Marketing"},{"parameters":{"description":"Utilise l’outil pour réfléchir à quelque chose. Il n’obtiendra pas de nouvelles informations et ne modifiera pas la base de données, mais ajoutera simplement la réflexion au journal. Utilise-le lorsque tu as besoin d’un raisonnement complexe ou d’une mémoire temporaire."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2352,336],"id":"5f17f9ae-e3bf-4a39-b62a-4866f2fa0658","name":"Réfléchir"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1328,336],"id":"856e72af-adfd-4d16-a197-3aa378340004","name":"Modèle de Chat OpenAI"},{"parameters":{"content":"# 🧭 Vue d'ensemble du Workflow\n\n## 📋 Objectif\nCe workflow automatisé est conçu pour assister une équipe marketing dans la création et la gestion de contenu numérique, incluant des images, des articles de blog, des posts LinkedIn, et des vidéos. Il intègre des interactions via Telegram pour recevoir des demandes et fournir des réponses, tout en utilisant des outils d'intelligence artificielle pour générer et modifier du contenu.\n\n## 🔄 Sections du Processus\n\n### 🎯 Section Déclenchement et Entrée\nLe workflow est initialement déclenché par un message reçu sur Telegram. Ce message peut être sous forme de texte ou de fichier audio. Un déclencheur Telegram capte ces messages et les dirige vers la section appropriée du workflow. Si un fichier audio est reçu, il est téléchargé et transcrit en texte pour une analyse ultérieure.\n\n### 🔍 Section Traitement et Analyse\nUne fois les données d'entrée capturées, elles sont analysées pour déterminer l'intention de l'utilisateur. Cela inclut la création d'images, la modification d'images existantes, ou la génération de contenu écrit comme des articles de blog ou des posts LinkedIn. Un agent d'intelligence artificielle est utilisé pour interpréter les demandes et choisir les outils appropriés pour répondre aux besoins de l'utilisateur.\n\n### 🔄 Section Décision et Routage\nCette section utilise un mécanisme de basculement pour diriger le flux de travail en fonction du type de message reçu (texte ou audio). Elle décide également si l'utilisateur souhaite créer, modifier ou rechercher des images, ou s'il souhaite générer du contenu écrit ou vidéo.\n\n### ⚡ Section Actions et Sorties\nLes actions finales incluent la création ou la modification d'images, la rédaction d'articles de blog ou de posts LinkedIn, et la génération de vidéos. Les résultats sont ensuite envoyés à l'utilisateur via Telegram, avec des liens cliquables pour accéder directement au contenu généré.\n\n## 🔗 Liens Utiles\n- [Telegram](https://telegram.org)\n- [Langchain](https://langchain.com)\n- [OpenAI](https://openai.com)\n- [n8n](https://n8n.io)","height":932,"width":800},"type":"n8n-nodes-base.stickyNote","position":[-528,224],"typeVersion":1,"id":"87ad018a-538d-4536-bfb2-d901194dc3fe","name":"Workflow Overview"},{"parameters":{"content":"---\n\n## 👨‍💻 Workflow créé par Thomas Berton\n\n**Envie de faire développer vos solutions IA par des pros ?**  \nContactez mon agence Azuro 👉 [azuro-ai.com](https://azuro-ai.com/contact)\n\n📢 **Rejoignez notre communauté IA sur Skool** 👉 [Le Club IA](https://www.skool.com/le-club-ia)\n\n### 🔗 Suivez-moi sur les réseaux\n\n🎥 **YouTube** : [Thomas BSSH](https://www.youtube.com/@thomasbssh?sub_confirmation=1)  \n💼 **LinkedIn** : [Thomas Berton](https://linkedin.com/in/thomas-berton-563894196)  \n📱 **Instagram** : [@thomasbssh](https://instagram.com/thomasbssh)\n\n---","height":400,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-528,-240],"typeVersion":1,"id":"64f94feb-c657-467e-86f7-d4b409d27b57","name":"Signature"}],"connections":{"Créer une Image":{"ai_tool":[[{"node":"Agent Équipe Marketing","type":"ai_tool","index":0}]]},"Stockage Mémoire Simple":{"ai_memory":[[{"node":"Agent Équipe Marketing","type":"ai_memory","index":0}]]},"Modifier une Image":{"ai_tool":[[{"node":"Agent Équipe Marketing","type":"ai_tool","index":0}]]},"Rechercher des Images":{"ai_tool":[[{"node":"Agent Équipe Marketing","type":"ai_tool","index":0}]]},"Créer un Article de Blog":{"ai_tool":[[{"node":"Agent Équipe Marketing","type":"ai_tool","index":0}]]},"Créer un Post LinkedIn":{"ai_tool":[[{"node":"Agent Équipe Marketing","type":"ai_tool","index":0}]]},"Définir le Texte":{"main":[[{"node":"Agent Équipe Marketing","type":"main","index":0}]]},"Télécharger Fichier Audio":{"main":[[{"node":"Transcrire Audio","type":"main","index":0}]]},"Transcrire Audio":{"main":[[{"node":"Agent Équipe Marketing","type":"main","index":0}]]},"Basculer Entrée":{"main":[[{"node":"Télécharger Fichier Audio","type":"main","index":0}],[{"node":"Définir le Texte","type":"main","index":0}]]},"Déclencheur Telegram":{"main":[[{"node":"Basculer Entrée","type":"main","index":0}]]},"Créer une Vidéo":{"ai_tool":[[{"node":"Agent Équipe Marketing","type":"ai_tool","index":0}]]},"Agent Équipe Marketing":{"main":[[{"node":"Envoyer Message Telegram","type":"main","index":0}]]},"Réfléchir":{"ai_tool":[[{"node":"Agent Équipe Marketing","type":"ai_tool","index":0}]]},"Modèle de Chat OpenAI":{"ai_languageModel":[[{"node":"Agent Équipe Marketing","type":"ai_languageModel","index":0}]]}},"pinData":{"Déclencheur Telegram":[{"json":{"update_id":539648026,"message":{"message_id":104,"from":{"id":7952797797,"is_bot":false,"first_name":"Thomas","last_name":"Berton","language_code":"fr"},"chat":{"id":7952797797,"first_name":"Thomas","last_name":"Berton","type":"private"},"date":1756805476,"voice":{"duration":5,"mime_type":"audio/ogg","file_id":"AwACAgQAAxkBAANoaLa5ZH4-ySx18C5YXdnB20bhotkAAkAdAALiSrFRJ9QlsKoN-cM2BA","file_unique_id":"AgADQB0AAuJKsVE","file_size":21637}}}}]},"meta":null}