2025/12/01/vN3bL0J4509We9Nd.json
{"nodes":[{"parameters":{},"id":"9bf04f53-8e88-4e59-b5bc-bd7adbe245ad","name":"▶️ Démarrer Création Vidéo","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,208]},{"parameters":{"content":"## 🎬 Orchestrateur de Création Vidéo\n\n**Ce workflow coordonne 5 modules :**\n\n1️⃣ Scraping & Collecte\n2️⃣ Génération Script\n3️⃣ Assets Visuels\n4️⃣ Audio (Voix + Musique)\n5️⃣ Assemblage Final\n\n**Avantages :**\n✅ Maintenance facile\n✅ Tests indépendants\n✅ Réutilisabilité\n✅ Débogage simplifié\n\n**Communication : Google Sheets**","height":420,"width":400,"color":4},"id":"d13c9796-d40a-41c0-9520-c9323546e4a2","name":"🎯 ORCHESTRATEUR PRINCIPAL","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,0]},{"parameters":{"assignments":{"assignments":[{"id":"project-id","name":"projectId","type":"string","value":"={{ $now.format('yyyyMMdd_HHmmss') }}"},{"id":"url-youtube","name":"urlYoutube","type":"string","value":"https://www.youtube.com/watch?v=EXAMPLE"},{"id":"topic","name":"videoTopic","type":"string","value":"Intelligence artificielle et automatisation"},{"id":"duration","name":"targetDuration","type":"number","value":600},{"id":"tone","name":"videoTone","type":"string","value":"éducatif et engageant"},{"id":"language","name":"language","type":"string","value":"français"},{"id":"spreadsheet-id","name":"spreadsheetId","type":"string","value":"YOUR_SPREADSHEET_ID"},{"id":"drive-folder","name":"driveFolderId","type":"string","value":"YOUR_FOLDER_ID"}]},"options":{}},"id":"81eaa57f-bd40-4191-8d0a-26436e51c5cf","name":"⚙️ Configuration Vidéo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,208]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"list","value":"Projects"},"columns":{"mappingMode":"defineBelow","value":{"projectId":"={{ $json.projectId }}","topic":"={{ $json.videoTopic }}","duration":"={{ $json.targetDuration }}","tone":"={{ $json.videoTone }}","language":"={{ $json.language }}","status":"started","startedAt":"={{ $now }}","urlYoutube":"={{ $json.urlYoutube }}"}},"options":{}},"id":"211eb918-204e-4c9a-9a99-7bd390cbc314","name":"📝 Créer Entrée Projet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[400,208]},{"parameters":{"content":"## Module 1\nScraping YouTube\nvia Apify","height":140,"width":200,"color":5},"id":"a2000ff4-16ae-45e1-ac0a-1c91557bb027","name":"1️⃣ Scraping","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,0]},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":""},"options":{"waitForSubWorkflow":true}},"id":"6aae0b59-b602-4b56-8292-c1027e703d3f","name":"🔄 Exécuter Module Scraping","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[640,208]},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('⚙️ Configuration Vidéo').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"list","value":"Projects"},"columns":{"mappingMode":"defineBelow","value":{"status":"scraping_done","scrapingCompletedAt":"={{ $now }}"}},"options":{}},"id":"674c36c2-ed41-4508-9b38-abb2239e6b5c","name":"✅ Status: Scraping OK","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,208]},{"parameters":{"content":"## Module 2\nGénération Script\nFew-Shot Prompting","height":140,"width":200,"color":6},"id":"c0fb3398-d923-4f48-a930-5ba209b8080d","name":"2️⃣ Script","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,0]},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":""},"options":{"waitForSubWorkflow":true}},"id":"3498a5ad-cc78-49f2-8c09-2d6ee793a2fe","name":"🔄 Exécuter Module Script","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1120,208]},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('⚙️ Configuration Vidéo').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"list","value":"Projects"},"columns":{"mappingMode":"defineBelow","value":{"status":"script_done","scriptCompletedAt":"={{ $now }}"}},"options":{}},"id":"6c89d739-0e1e-4d13-b629-fd9ee99efca8","name":"✅ Status: Script OK","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1360,208]},{"parameters":{"content":"## Module 3\nImages & Vidéos\nKie.ai","height":140,"width":200,"color":3},"id":"c9232f08-d4b1-4a00-bce1-4414f68c286c","name":"3️⃣ Visuels","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,0]},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":""},"options":{"waitForSubWorkflow":true}},"id":"99b46a71-3aac-4675-b4d6-2727ac89bb51","name":"🔄 Exécuter Module Visuels","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1600,208]},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('⚙️ Configuration Vidéo').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"list","value":"Projects"},"columns":{"mappingMode":"defineBelow","value":{"status":"visuals_done","visualsCompletedAt":"={{ $now }}"}},"options":{}},"id":"36054c27-b19a-4385-8dad-0109fe756c39","name":"✅ Status: Visuels OK","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1840,208]},{"parameters":{"content":"## Module 4\nVoix + Musique\nElevenLabs + Mubert","height":140,"width":200,"color":2},"id":"873623da-a7b9-4de3-a100-e2626cf89b41","name":"4️⃣ Audio","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1824,0]},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":""},"options":{"waitForSubWorkflow":true}},"id":"feb84916-d42b-425c-b3ef-044d4820f85c","name":"🔄 Exécuter Module Audio","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2080,208]},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('⚙️ Configuration Vidéo').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"list","value":"Projects"},"columns":{"mappingMode":"defineBelow","value":{"status":"audio_done","audioCompletedAt":"={{ $now }}"}},"options":{}},"id":"02f9451e-ca96-4138-8fd3-92c94c56bc94","name":"✅ Status: Audio OK","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2320,208]},{"parameters":{"content":"## Module 5\nAssemblage Final\nFFmpeg + Export","height":140,"width":200},"id":"b887326b-71b6-498f-83b2-aa3ef6095ddc","name":"5️⃣ Assemblage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,0]},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":""},"options":{"waitForSubWorkflow":true}},"id":"c3ef0121-6136-468e-a2f7-695b715f4d91","name":"🔄 Exécuter Module Assemblage","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2560,208]},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('⚙️ Configuration Vidéo').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"list","value":"Projects"},"columns":{"mappingMode":"defineBelow","value":{"status":"completed","completedAt":"={{ $now }}","totalDuration":"={{ Math.round(($now.toUnixInteger() - $('📝 Créer Entrée Projet').item.json.startedAt.toUnixInteger()) / 60) }} minutes"}},"options":{}},"id":"333e33db-21a7-4a27-956e-9d17a134a0cd","name":"✅ Status: TERMINÉ","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2800,208]},{"parameters":{"jsCode":"const projectId = $('⚙️ Configuration Vidéo').item.json.projectId;\nconst spreadsheetId = $('⚙️ Configuration Vidéo').item.json.spreadsheetId;\n\nconst summary = {\n  success: true,\n  projectId: projectId,\n  message: '🎉 Vidéo YouTube créée avec succès !',\n  \n  steps: {\n    scraping: '✅ Complété',\n    script: '✅ Complété',\n    visuals: '✅ Complété',\n    audio: '✅ Complété',\n    assembly: '✅ Complété'\n  },\n  \n  links: {\n    googleSheets: `https://docs.google.com/spreadsheets/d/${spreadsheetId}`,\n    project: `Voir onglet 'Projects' avec ID: ${projectId}`\n  },\n  \n  nextSteps: [\n    '1. Ouvrir Google Sheets pour voir toutes les métadonnées',\n    '2. Télécharger la vidéo finale depuis Google Drive',\n    '3. Vérifier la qualité',\n    '4. Uploader sur YouTube',\n    '5. Utiliser titre et description générés'\n  ]\n};\n\nreturn [{ json: summary }];"},"id":"48e2a486-45de-4f0e-b13b-2165d843957c","name":"📊 Résumé Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,208]},{"parameters":{"content":"## 🛡️ Gestion d'Erreurs\n\nChaque module peut échouer indépendamment.\nL'orchestrateur continue et log l'erreur.\n\n**En cas d'échec :**\n- Status = 'failed'\n- Erreur loggée dans Google Sheets\n- Notification envoyée\n- Possibilité de reprendre","height":280,"width":300,"color":7},"id":"d4e05eba-4a48-4587-a523-bc9d2357ee2d","name":"⚠️ Gestion d'Erreurs","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,480]}],"connections":{"▶️ Démarrer Création Vidéo":{"main":[[{"node":"⚙️ Configuration Vidéo","type":"main","index":0}]]},"⚙️ Configuration Vidéo":{"main":[[{"node":"📝 Créer Entrée Projet","type":"main","index":0}]]},"📝 Créer Entrée Projet":{"main":[[{"node":"🔄 Exécuter Module Scraping","type":"main","index":0}]]},"🔄 Exécuter Module Scraping":{"main":[[{"node":"✅ Status: Scraping OK","type":"main","index":0}]]},"✅ Status: Scraping OK":{"main":[[{"node":"🔄 Exécuter Module Script","type":"main","index":0}]]},"🔄 Exécuter Module Script":{"main":[[{"node":"✅ Status: Script OK","type":"main","index":0}]]},"✅ Status: Script OK":{"main":[[{"node":"🔄 Exécuter Module Visuels","type":"main","index":0}]]},"🔄 Exécuter Module Visuels":{"main":[[{"node":"✅ Status: Visuels OK","type":"main","index":0}]]},"✅ Status: Visuels OK":{"main":[[{"node":"🔄 Exécuter Module Audio","type":"main","index":0}]]},"🔄 Exécuter Module Audio":{"main":[[{"node":"✅ Status: Audio OK","type":"main","index":0}]]},"✅ Status: Audio OK":{"main":[[{"node":"🔄 Exécuter Module Assemblage","type":"main","index":0}]]},"🔄 Exécuter Module Assemblage":{"main":[[{"node":"✅ Status: TERMINÉ","type":"main","index":0}]]},"✅ Status: TERMINÉ":{"main":[[{"node":"📊 Résumé Final","type":"main","index":0}]]}},"pinData":{},"meta":null}