2025/12/01/XRbNZVnJsAkdT1jm.json
{"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"postTopic"},{"name":"targetAudience"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[720,320],"id":"558e4945-c70a-47a4-a669-031c0f2434f6","name":"When Executed by Another Workflow"},{"parameters":{"toolDescription":"Use this tool to search the web. ","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user is searching for. "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1232,528],"id":"9e130a4f-c991-43c0-836f-6a64b6e6f03c","name":"Recherche Web"},{"parameters":{"promptType":"define","text":"=POst linkedin :\n{{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"=# Contexte\nTu es un agent IA chargé de transformer des posts LinkedIn en descriptions de visuels destinés à générer des supports marketing graphiques. Ces visuels sont conçus pour accompagner les posts sur LinkedIn, en renforçant leur message de manière visuelle, engageante et alignée avec la marque.\n\n## Objectif\n* Lire et analyser le post LinkedIn fourni\n* Identifier le message clé, l’idée forte ou l’enseignement à retenir\n* Créer un prompt clair et percutant pouvant être utilisé avec un générateur d’image à partir de texte\n* Le visuel doit être de style marketing — pas une scène littérale ou une photo hyperréaliste — et doit :\n\n  1. Illustrer visuellement l’idée centrale du post\n  2. Être adapté à une publication LinkedIn professionnelle\n  3. Être soigné, moderne et engageant\n\n## Instructions de sortie\n* Génère uniquement le prompt final de l’image\n* N’utilise pas de guillemets\n* Ne répète pas le contenu du post LinkedIn\n* N’ajoute aucune explication ni contenu supplémentaire\n* Ne laisse jamais de champ vide comme « Zone de titre personnalisable ici »\n* Intègre les chiffres ou statistiques si présents dans le post original\n\n## Directives de style\n* Pense comme un designer de marque ou un créatif marketing\n* Les visuels peuvent inclure : du texte, des graphiques, des icônes, des formes abstraites, des superpositions, des illustrations modernes, des effets de mouvement, des éléments typographiques forts (décrits, pas rendus), ou des concepts métaphoriques\n* Tu peux suggérer une disposition (ex. : « design en écran partagé », « en-tête avec titre en gras et illustration discrète en arrière-plan »)\n* Supposons que le visuel sera généré par un outil d’IA — ton prompt doit guider cet outil efficacement\n\n## Exemple de format de prompt\nIllustration moderne en flat design montrant un cerveau humain connecté à des engrenages mécaniques, représentant la fusion entre l’intelligence artificielle et l’automatisation. Fond minimaliste, dégradés doux, espace de texte avec typographie sans serif épurée en haut."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1344,320],"id":"38c37ee7-b9cb-4bd0-b0b5-7bf45d9adc99","name":"Création de Description Visuelle"},{"parameters":{"promptType":"define","text":"=Sujet du post : {{ $json.postTopic }}\n\nPublic cible : {{ $json.targetAudience }}\n\n# LE POST DOIT ETRE EN FRANCAIS","options":{"systemMessage":"=# Contexte\nTu es un agent IA spécialisé dans la création de posts LinkedIn professionnels, éducatifs et engageants à partir de n’importe quel sujet fourni par l’utilisateur.\n\n## Objectifs\nCommence toujours par effectuer une recherche en temps réel à l’aide de l’outil Tavily pour collecter les informations les plus précises et récentes sur le sujet. Le post doit être rédigé pour attirer l’attention du public cible fourni.\n\nEn te basant sur ta recherche, génère un post LinkedIn bien structuré qui :\n* Démarre par une accroche engageante\n* Adopte un ton professionnel\n* Est clair et facile à lire\n* Est éducatif et pertinent\n* Utilise peu d’emojis (uniquement s’ils sont très pertinents et avec parcimonie)\n* Inclut une attribution correcte des sources (ex. : « selon \\[source] »)\n* Contient des hashtags pertinents pour améliorer la visibilité\n* Se termine par un appel à l’action clair (ex. : demander des avis, des retours ou un partage)\n\n## Instructions de sortie\n* Ta seule sortie doit être le texte final du post LinkedIn\n* N’ajoute aucune explication, note ou contenu supplémentaire au post\n\n## Exemple de flux de travail\n1. Reçois un sujet (ex. : « Le ROI de l’automatisation des entrepôts »)\n2. Utilise Tavily pour rechercher des informations ou des cas récents\n3. Rédige un post LinkedIn à partir de ces données\n4. Structure-le avec des sources, un format clair, des hashtags pertinents et un appel à l’action\n\n# LE POST DOIT ETRE EN FRANCAIS"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[944,320],"id":"1f59d6c7-5283-4032-a06f-ab34136d3d36","name":"Création de Post LinkedIn"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1456,544],"id":"de1061d0-538f-4e64-aeb0-b17ed580f6cf","name":"Analyseur de Sortie Structurée"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"={{ $('Création de Post LinkedIn').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1664,800],"id":"d6419443-f257-4162-bee8-2f6a0adf116a","name":"Envoi de Texte sur Telegram","webhookId":"94fa70af-f2fc-4c05-8fa1-d9f55637485f"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,800],"id":"c237d99a-00a9-4c86-9b4e-85653d89c9e6","name":"Envoi de Photo sur Telegram","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"},{"parameters":{"name":"={{ $('Création de Description Visuelle').item.json.output.title }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW","mode":"list","cachedResultName":"Medias","cachedResultUrl":"https://drive.google.com/drive/folders/1no0bOmycf9FTv_BgnQAozr3B9C4ew0mW"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,992],"id":"0e8b747b-1ca8-4046-95c1-0f5e3c50ad2a","name":"Sauvegarde sur Google Drive"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[992,544],"id":"ef52e187-0547-4984-8a36-8880588eebd6","name":"Chat avec Modèle AI"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprrk8BzFraLVbsx","mode":"list","cachedResultName":"Marketing Team","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx"},"table":{"__rl":true,"value":"tbl4mN27ieDO845l2","mode":"list","cachedResultName":"DashBoard","cachedResultUrl":"https://airtable.com/apprrk8BzFraLVbsx/tbl4mN27ieDO845l2"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Terminé","Requette":"={{ $('When Executed by Another Workflow').item.json.postTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}","ID Requette":"={{ $json.id }}","Titre":"={{ $('When Executed by Another Workflow').item.json.postTopic }}","Type":"Post","Lien":"={{ $json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Titre","displayName":"Titre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"raw_image","value":"raw_image"},{"name":"raw_audio","value":"raw_audio"},{"name":"raw_video","value":"raw_video"},{"name":"Vidéo","value":"Vidéo"},{"name":"Post","value":"Post"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Erreur","value":"Erreur"},{"name":"En cours","value":"En cours"},{"name":"Terminé","value":"Terminé"}],"readOnly":false,"removed":false},{"id":"Requette","displayName":"Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ID Requette","displayName":"ID Requette","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lien","displayName":"Lien","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1664,992],"id":"1e4335bd-527b-4d8e-97ae-5ceb4ac05cbe","name":"Enregistrement dans Airtable"},{"parameters":{"content":"# 🧭 Vue d'ensemble du Workflow\n\n## 📋 Objectif\nCe workflow automatisé est conçu pour transformer des publications LinkedIn en descriptions visuelles et générer des images marketing. Il utilise des outils d'IA pour rechercher des informations, créer des contenus visuels et textuels, et les distribuer via Telegram et Google Drive.\n\n## 🔄 Sections du Processus\n\n### 🎯 Section Déclenchement et Entrée\nLe workflow commence par un déclencheur qui reçoit des informations sur le sujet de la publication LinkedIn et l'audience cible. Ces données sont essentielles pour personnaliser le contenu généré.\n\n### 🔍 Section Recherche et Analyse\nUne fois déclenché, le workflow utilise un outil de recherche web pour collecter des informations à jour sur le sujet. Ces données sont ensuite analysées par un agent d'IA pour créer un post LinkedIn structuré et professionnel.\n\n### 🖼️ Section Création Visuelle\nParallèlement à la création du texte, un autre agent d'IA génère une description visuelle basée sur le contenu du post LinkedIn. Cette description est utilisée pour générer une image via un service d'IA d'image.\n\n### ⚡ Section Actions et Sorties\nLes résultats, y compris le texte du post et l'image générée, sont envoyés à un chat Telegram pour distribution. L'image est également sauvegardée sur Google Drive pour un accès futur. Enfin, les détails de la requête sont enregistrés dans Airtable pour le suivi et la gestion.\n\n## 🔗 Liens Utiles\n- [Tavily](https://tavily.com)\n- [OpenAI](https://openai.com)\n- [Telegram](https://telegram.org)\n- [Google Drive](https://google.com/drive)\n- [Airtable](https://airtable.com)","height":884,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-176,416],"typeVersion":1,"id":"d0b61d64-2b05-4f24-9769-a1786aec16e8","name":"Workflow Overview"},{"parameters":{"content":"---\n\n## 👨‍💻 Workflow créé par Thomas Berton\n\n**Envie de faire développer vos solutions IA par des pros ?**  \nContactez mon agence Azuro 👉 [azuro-ai.com](https://azuro-ai.com/contact)\n\n📢 **Rejoignez notre communauté IA sur Skool** 👉 [Le Club IA](https://www.skool.com/le-club-ia)\n\n### 🔗 Suivez-moi sur les réseaux\n\n🎥 **YouTube** : [Thomas BSSH](https://www.youtube.com/@thomasbssh?sub_confirmation=1)  \n💼 **LinkedIn** : [Thomas Berton](https://linkedin.com/in/thomas-berton-563894196)  \n📱 **Instagram** : [@thomasbssh](https://instagram.com/thomasbssh)\n\n---","height":400,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-176,-80],"typeVersion":1,"id":"409a6a70-0f3b-43f7-9cd5-e6a1d7f5170e","name":"Signature"},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/google/nano-banana/text-to-image","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"enable_sync_mode","value":"true"},{"name":"output_format","value":"jpeg"},{"name":"prompt","value":"={{ $json.output.prompt.replace(/\"/g, '') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,896],"id":"8f3710b5-c88f-4801-94f3-3b4a6c7ed184","name":"Génération d'Image avec Google Nano Banana"},{"parameters":{"url":"={{ $json.data.outputs[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,896],"id":"f0ba3c2b-65de-4c27-a1c1-ffb04607b81b","name":"DL Image"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Création de Post LinkedIn","type":"main","index":0}]]},"Recherche Web":{"ai_tool":[[{"node":"Création de Post LinkedIn","type":"ai_tool","index":0}]]},"Création de Description Visuelle":{"main":[[{"node":"Génération d'Image avec Google Nano Banana","type":"main","index":0}]]},"Création de Post LinkedIn":{"main":[[{"node":"Création de Description Visuelle","type":"main","index":0}]]},"Analyseur de Sortie Structurée":{"ai_outputParser":[[{"node":"Création de Description Visuelle","type":"ai_outputParser","index":0}]]},"Envoi de Photo sur Telegram":{"main":[[{"node":"Envoi de Texte sur Telegram","type":"main","index":0}]]},"Sauvegarde sur Google Drive":{"main":[[{"node":"Enregistrement dans Airtable","type":"main","index":0}]]},"Chat avec Modèle AI":{"ai_languageModel":[[{"node":"Création de Post LinkedIn","type":"ai_languageModel","index":0},{"node":"Création de Description Visuelle","type":"ai_languageModel","index":0}]]},"Génération d'Image avec Google Nano Banana":{"main":[[{"node":"DL Image","type":"main","index":0}]]},"DL Image":{"main":[[{"node":"Envoi de Photo sur Telegram","type":"main","index":0},{"node":"Sauvegarde sur Google Drive","type":"main","index":0}]]}},"pinData":{"When Executed by Another Workflow":[{"json":{"postTopic":"How artificial intelligence has completely changed my life in the past two and a half years","targetAudience":"LinkedIn professionals interested in AI and personal development","chatID":7952797797}}]},"meta":null}